# Revised case normalization for Hirslanden Zurich 2019
note:
- Assert error: case_id in this hospital is 'Fall Nummer'
- merge from 78 to 78 -> 122 ???? problem with merge??

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
        os.path.join(ROOT_DIR, 'raw_data/HI-Zurich.xlsx'),
        'Hirslanden Zurich',
         '2019',
        ['Änderungen_MIX_Hirslanden_2019'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Zurich.xlsx', hospital_name_db='Hirslanden Zurich', year='2019', sheets=['Änderungen_MIX_Hirslanden_2019'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0, columns_mapper = cols_to_rename)

2022-10-17 15:38:22.460 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-17 15:38:22.461 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-17 15:38:22.461 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-17 15:38:22.462 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-17 15:38:22.463 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-17 15:38:22.463 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-17 15:38:22.465 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-17 15:38:22.466 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 16: discarded ICDs after validation {''}
2022-10-17 15:38:22.466 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-17 15:38:22.467 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 20: discarded ICDs after validation {''}
2022-10-17 15:38:22.468 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 15:38:22.468 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 24: discarded ICDs after validation {''}
2022-10-17 15:38:22.469 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-17 15:38:22.469 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 28: discarded ICDs after validation {''}
2022-10-17 15:38:22.470 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 30: discarded ICDs after validation {''}
2022-10-17 15:38:22.471 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}
2022-10-17 15:38:22.471 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-17 15:38:22.472 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 36: discarded ICDs after validation {''}
2022-10-17 15:38:22.473 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 38: discarded ICDs after validation {''}
2022-10-17 15:38:22.474 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-17 15:38:22.474 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 42: discarded ICDs after validation {''}
2022-10-17 15:38:22.475 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 44: discarded ICDs after validation {''}
2022-10-17 15:38:22.476 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 46: discarded ICDs after validation {''}
2022-10-17 15:38:22.477 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 48: discarded ICDs after validation {''}
2022-10-17 15:38:22.477 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 50: discarded ICDs after validation {''}
2022-10-17 15:38:22.478 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 52: discarded ICDs after validation {''}
2022-10-17 15:38:22.479 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 54: discarded ICDs after validation {''}
2022-10-17 15:38:22.479 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 56: discarded ICDs after validation {''}
2022-10-17 15:38:22.480 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 58: discarded ICDs after validation {''}
2022-10-17 15:38:22.481 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 62: discarded ICDs after validation {''}
2022-10-17 15:38:22.482 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 64: discarded ICDs after validation {''}
2022-10-17 15:38:22.482 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 66: discarded ICDs after validation {''}
2022-10-17 15:38:22.483 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 68: discarded ICDs after validation {''}
2022-10-17 15:38:22.484 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 70: discarded ICDs after validation {''}
2022-10-17 15:38:22.484 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 72: discarded ICDs after validation {''}
2022-10-17 15:38:22.485 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 74: discarded ICDs after validation {''}
2022-10-17 15:38:22.485 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 76: discarded ICDs after validation {''}
2022-10-17 15:38:22.486 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 78: discarded ICDs after validation {''}
2022-10-17 15:38:22.487 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 80: discarded ICDs after validation {''}
2022-10-17 15:38:22.488 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 82: discarded ICDs after validation {''}
2022-10-17 15:38:22.489 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 84: discarded ICDs after validation {''}
2022-10-17 15:38:22.489 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 86: discarded ICDs after validation {''}
2022-10-17 15:38:22.490 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 90: discarded ICDs after validation {''}
2022-10-17 15:38:22.491 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 92: discarded ICDs after validation {''}
2022-10-17 15:38:22.491 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 94: discarded ICDs after validation {''}
2022-10-17 15:38:22.492 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 96: discarded ICDs after validation {''}
2022-10-17 15:38:22.493 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 98: discarded ICDs after validation {''}
2022-10-17 15:38:22.493 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 100: discarded ICDs after validation {''}
2022-10-17 15:38:22.494 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 104: discarded ICDs after validation {''}
2022-10-17 15:38:22.494 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 106: discarded ICDs after validation {''}
2022-10-17 15:38:22.495 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 108: discarded ICDs after validation {''}
2022-10-17 15:38:22.496 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 110: discarded ICDs after validation {''}
2022-10-17 15:38:22.496 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 112: discarded ICDs after validation {''}
2022-10-17 15:38:22.496 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 114: discarded ICDs after validation {''}
2022-10-17 15:38:22.498 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 116: discarded ICDs after validation {''}
2022-10-17 15:38:22.498 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 118: discarded ICDs after validation {''}
2022-10-17 15:38:22.499 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 120: discarded ICDs after validation {''}
2022-10-17 15:38:22.499 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 122: discarded ICDs after validation {''}
2022-10-17 15:38:22.500 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 124: discarded ICDs after validation {''}
2022-10-17 15:38:22.501 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 126: discarded ICDs after validation {''}
2022-10-17 15:38:22.501 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 128: discarded ICDs after validation {''}
2022-10-17 15:38:22.501 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 130: discarded ICDs after validation {''}
2022-10-17 15:38:22.502 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 132: discarded ICDs after validation {''}
2022-10-17 15:38:22.503 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 138: discarded ICDs after validation {''}
2022-10-17 15:38:22.503 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 142: discarded ICDs after validation {''}
2022-10-17 15:38:22.504 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 144: discarded ICDs after validation {''}
2022-10-17 15:38:22.505 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 146: discarded ICDs after validation {''}
2022-10-17 15:38:22.506 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 148: discarded ICDs after validation {''}
2022-10-17 15:38:22.506 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 150: discarded ICDs after validation {''}
2022-10-17 15:38:22.507 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 152: discarded ICDs after validation {''}
2022-10-17 15:38:22.507 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 154: discarded ICDs after validation {''}
2022-10-17 15:38:22.510 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'99b711::20190502'}
2022-10-17 15:38:22.510 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.511 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.511 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {'890a32::20190731'}
2022-10-17 15:38:22.512 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {'890a21::20190926'}
2022-10-17 15:38:22.512 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.513 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.514 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {'890a32::20191013'}
2022-10-17 15:38:22.514 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {'99b712::20190109', '361c13::20190109', '35f121::20190109'}
2022-10-17 15:38:22.515 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.515 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.516 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'99ba14::20190116', '99b712::20190110'}
2022-10-17 15:38:22.516 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.517 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'7aa415::20190122', '7a5115::20190122', '7a5114::20190122', '7ab121::20190122', '7a7113::20190122'}
2022-10-17 15:38:22.518 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {'890a21::20190129', '99b711::20190129', '948x40::20190201'}
2022-10-17 15:38:22.519 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {'99b711::20190129', '544x11::20190129', '009b11::20190129', '990410::20190129'}
2022-10-17 15:38:22.519 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.521 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {'403x23::20190412', '890a32::20190415'}
2022-10-17 15:38:22.521 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {'009b11::20190531', '99b712::20190531'}
2022-10-17 15:38:22.522 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {'99b711::20190928'}
2022-10-17 15:38:22.522 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {'99b711::20191006'}
2022-10-17 15:38:22.523 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {'99b713::20191009'}
2022-10-17 15:38:22.525 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {'86321e:L:20190110'}
2022-10-17 15:38:22.525 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {'8688de:L:20190131', '862a2e:L:20190207', '862a2e:L:20190131', '004b45:L:20190207', '004b45:L:20190122', '004b18:L:20190122', '866b2c:L:20190220', '862a2e:L:20190220', '862a2e:L:20190122'}
2022-10-17 15:38:22.526 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 48: discarded duplicated and invalid CHOP entries after validation {'99b711::20190307'}
2022-10-17 15:38:22.527 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 50: discarded duplicated and invalid CHOP entries after validation {'890a12::20190227'}
2022-10-17 15:38:22.527 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 52: discarded duplicated and invalid CHOP entries after validation {'99b711::20190305', '009b11::20190305', '598x99:B:20190305'}
2022-10-17 15:38:22.528 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 54: discarded duplicated and invalid CHOP entries after validation {'7a7115::20190404', '7aa415::20190415', '7a5114::20190404', '7a7115::20190415', '7a3211::20190404', '7ab131::20190404', '7a5114::20190415', '7a5211::20190404', '7a82::20190415', '7a82::20190404', '7ab131::20190415', '7aa415::20190404', '7a5115::20190404', '034x21::20190415', '7ab3::20190415', '7ab3::20190404', '7a5115::20190415'}
2022-10-17 15:38:22.528 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 56: discarded duplicated and invalid CHOP entries after validation {'004a33::20190404'}
2022-10-17 15:38:22.529 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 58: discarded duplicated and invalid CHOP entries after validation {'7a5211::20190518', '7a3211::20190518', '7a7111::20190518', '890a11::20190612', '7a21::20190614', '7ab131::20190518', '99221a::20190612', '7aa415::20190518'}
2022-10-17 15:38:22.530 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 60: discarded duplicated and invalid CHOP entries after validation {'99b711::20190516', '890a32::20190515'}
2022-10-17 15:38:22.531 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 62: discarded duplicated and invalid CHOP entries after validation {'99b711::20190601', '7ab131::20190601', '7a3211::20190601'}
2022-10-17 15:38:22.531 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 64: discarded duplicated and invalid CHOP entries after validation {'890a32::20190727', '009b11::20190724', '009a2a:R:20190731'}
2022-10-17 15:38:22.532 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 66: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.533 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 68: discarded duplicated and invalid CHOP entries after validation {'99b711::20190109', '009b11::20190109'}
2022-10-17 15:38:22.533 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 70: discarded duplicated and invalid CHOP entries after validation {'009a13::20190117', '890a32::20190123', '99b712::20190117', '009b11::20190117'}
2022-10-17 15:38:22.534 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 72: discarded duplicated and invalid CHOP entries after validation {'7a82::20190124', '7a5115::20190124', '7aa151::20190124', '7ab131::20190124', '7aa415::20190124', '7a5114::20190124', '7ab3::20190124', '7a7112::20190124'}
2022-10-17 15:38:22.535 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 74: discarded duplicated and invalid CHOP entries after validation {'009b11::20190225', '009a13::20190225', '99b712::20190225', '890a32::20190228'}
2022-10-17 15:38:22.536 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 76: discarded duplicated and invalid CHOP entries after validation {'7a5115::20190228', '7ab111::20190228', '7aa152::20190228', '7aa415::20190228', '7a7122::20190228'}
2022-10-17 15:38:22.536 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 78: discarded duplicated and invalid CHOP entries after validation {'7a5114::20190306', '7a3211::20190306', '7aa415::20190306', '7a82::20190306', '7ab131::20190306', '7a5115::20190306', '7ab3::20190306', '7a7112::20190306'}
2022-10-17 15:38:22.537 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 80: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.538 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 82: discarded duplicated and invalid CHOP entries after validation {'99b712::20190418', '009b11::20190418', '009a13::20190418', '890a32::20190422'}
2022-10-17 15:38:22.539 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 84: discarded duplicated and invalid CHOP entries after validation {'7a6531::20190509', '890a21::20190509', '7a7111::20190509', '7ab3::20190509', '7a82::20190509', '7ab131::20190509', '7a1221::20190509', '7aa415::20190509', '7aa151::20190509', '7a5114::20190509'}
2022-10-17 15:38:22.539 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 86: discarded duplicated and invalid CHOP entries after validation {'502a2c::20190827', '009b11::20190827', '403x23::20190827', '99b713::20190827'}
2022-10-17 15:38:22.540 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 88: discarded duplicated and invalid CHOP entries after validation {'890a32::20191009', '004b18:L:20191004', '004b17:B:20191004'}
2022-10-17 15:38:22.541 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 90: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.541 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 92: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:38:22.542 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 94: discarded duplicated and invalid CHOP entries after validation {'862a2e:L:20190415'}
2022-10-17 15:38:22.542 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 96: discarded duplicated and invalid CHOP entries after validation {''}

Read 155 cases for Hirslanden Zurich 2019
77/155 rows were deleted because contained NaNs
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0044151336,DFEB35604B8CC5AA,W,94,5,0,G46C,K922,K922,M100,[I214],[I2520],[],[]
2,0044162952,D2E4C5D327353D1F,W,68,9,0,B71B,G610,G610,M100,"[R471, G8259]",[],[],[]
4,0044174916,1998CAB94EE51E84,M,86,10,3,I46D,M161,M161,M200,[I652],[],[],[]
6,0044184703,6E399B7B201282EE,W,81,9,3,B63B,F03,F03,M100,"[I361, M9078]",[],[],[]
8,0044201740,C03540EFFDF00534,M,74,16,3,I46D,M8085,M8085,M200,"[R471, G819]",[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,44184703,6E399B7B201282EE,W,81,9,3,B63B,F03,F03,M100,"[I361, M9078]",[],[],[]
148,44201740,C03540EFFDF00534,M,74,16,3,I46D,M8085,M8085,M200,"[R471, G819]",[],[],[]
150,44207672,2634CC27AFCA6D60,W,77,8,3,I08D,M8425,M8425,M200,[D6988],[],[],[]
152,44213833,75A5DC9A21BF3A2F,M,84,9,3,I46D,S7201,S7201,M200,[I472],[],[],[]
154,44215776,54E287EA80DFD660,W,89,9,3,F49D,I1091,I1091,M100,[I471],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['0044151336', '0044162952', '0044174916', '0044184703',
       '0044201740', '0044207672', '0044213833', '0044215776', '44101606',
       '44104525', '44105681', '44107335', '44107676', '44108722',
       '44109815', '44113655', '44125350', '44143612', '44162169',
       '44205344', '44212779', '44214368', '44107556', '44110727',
       '44118028', '44119597', '44125669', '44135768', '44139324',
       '44153256', '44156085', '44163377', '44181674', '44182926',
       '44084064', '44104968', '44107697', '44104968', '44125054',
       '44125625', '44134808', '44146114', '44152500', '0044191819',
       '44209519', '44116933', '44120153', '0044132051', '44164627',
       '0044176401', '44181751', '44184371', '44207478', '44101606',
       '44104525', '44105681', '44107335', '44107676', '44108722',
       '44109815', '44113655', '44125350', '44143612', '44162169',
       '44205344', '44212779', '44214368', '0044122622', '44128901',
       '44148694', '44151336', '44162952', '44174916', '44184703',
       '44201740', '44207672', '44213833', '44215776'], dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

In [7]:
# change the case_id the same format as bfs data e.g. '0041194601' 
# revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
# revised_case_id_pad0[0]
# df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [8]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(revised_case_id_stripped)
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,0.658,233034,1,0044151336,DFEB35604B8CC5AA,94,0,W,5,3,0,0,0,2019-05-02,01,2019-05-07,00,G46C,G46,0
0,1.189,234470,1,0044162952,D2E4C5D327353D1F,68,0,W,9,3,0,0,0,2019-05-29,01,2019-06-07,00,B71B,B71,0
0,1.611,235947,1,0044174916,1998CAB94EE51E84,86,0,M,10,4,0,0,0,2019-08-20,01,2019-08-30,00,I46D,I46,3
0,0.861,237254,1,0044184703,6E399B7B201282EE,81,0,W,9,3,0,0,0,2019-07-30,01,2019-08-08,00,B63B,B63,3
0,1.611,239458,1,0044201740,C03540EFFDF00534,74,0,M,16,4,0,0,0,2019-09-14,01,2019-09-30,00,I46D,I46,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,0.658,233034,1,0044151336,DFEB35604B8CC5AA,94,0,W,5,3,...,0,0,2019-05-02,01,2019-05-07,00,G46C,G46,0,44151336
0,1.189,234470,1,0044162952,D2E4C5D327353D1F,68,0,W,9,3,...,0,0,2019-05-29,01,2019-06-07,00,B71B,B71,0,44162952
0,1.611,235947,1,0044174916,1998CAB94EE51E84,86,0,M,10,4,...,0,0,2019-08-20,01,2019-08-30,00,I46D,I46,3,44174916
0,0.861,237254,1,0044184703,6E399B7B201282EE,81,0,W,9,3,...,0,0,2019-07-30,01,2019-08-08,00,B63B,B63,3,44184703
0,1.611,239458,1,0044201740,C03540EFFDF00534,74,0,M,16,4,...,0,0,2019-09-14,01,2019-09-30,00,I46D,I46,3,44201740

In [10]:
df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped
0,0044151336,DFEB35604B8CC5AA,W,94,5,0,G46C,K922,K922,M100,[I214],[I2520],[],[],44151336
2,0044162952,D2E4C5D327353D1F,W,68,9,0,B71B,G610,G610,M100,"[R471, G8259]",[],[],[],44162952
4,0044174916,1998CAB94EE51E84,M,86,10,3,I46D,M161,M161,M200,[I652],[],[],[],44174916
6,0044184703,6E399B7B201282EE,W,81,9,3,B63B,F03,F03,M100,"[I361, M9078]",[],[],[],44184703
8,0044201740,C03540EFFDF00534,M,74,16,3,I46D,M8085,M8085,M200,"[R471, G819]",[],[],[],44201740

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [11]:
revised_case_db.shape[0] <= len(df_revised_case_d2d)
print(revised_case_db.shape[0], len(df_revised_case_d2d))

78 78

In [12]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(122, 28)

,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped,gender,age_years,...,age_days,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,adrg
0,K922,K922,M100,[I214],[I2520],[],[],44151336,W,94,...,0,3,0,0,0,2019-05-02,01,2019-05-07,00,G46
1,K922,K922,M100,[I214],[I2520],[],[],44151336,W,94,...,0,3,0,0,0,2019-05-02,01,2019-05-07,00,G46
2,K922,K922,M100,[I214],[I2520],[],[],44151336,W,94,...,0,3,0,0,0,2019-05-02,01,2019-05-07,00,G46
3,K922,K922,M100,[I214],[I2520],[],[],44151336,W,94,...,0,3,0,0,0,2019-05-02,01,2019-05-07,00,G46
4,G610,G610,M100,"[R471, G8259]",[],[],[],44162952,W,68,...,0,3,0,0,0,2019-05-29,01,2019-06-07,00,B71

In [13]:
revised_case_d2d_subset.shape

(78, 13)

In [14]:
revised_case_db.shape

(78, 21)

In [15]:
revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='right', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
revised_case_normalized.shape

(122, 28)

In [16]:
from collections import Counter
Counter(revised_case_normalized['case_id_stripped'])

Counter({'44151336': 4,
         '44162952': 4,
         '44174916': 4,
         '44184703': 4,
         '44201740': 4,
         '44207672': 4,
         '44213833': 4,
         '44215776': 4,
         '44101606': 4,
         '44104525': 4,
         '44105681': 4,
         '44107335': 4,
         '44107676': 4,
         '44108722': 4,
         '44109815': 4,
         '44113655': 4,
         '44125350': 4,
         '44143612': 4,
         '44162169': 4,
         '44205344': 4,
         '44212779': 4,
         '44214368': 4,
         '44107556': 1,
         '44110727': 1,
         '44118028': 1,
         '44119597': 1,
         '44125669': 1,
         '44135768': 1,
         '44139324': 1,
         '44153256': 1,
         '44156085': 1,
         '44163377': 1,
         '44181674': 1,
         '44182926': 1,
         '44084064': 1,
         '44104968': 2,
         '44107697': 1,
         '44125054': 1,
         '44125625': 1,
         '44134808': 1,
         '44146114': 1,
         '44152500': 1,
         '44191819': 1,
         '44209519': 1,
         '44116933': 1,
         '44120153': 1,
         '44132051': 1,
         '44164627': 1,
         '44176401': 1,
         '44181751': 1,
         '44184371': 1,
         '44207478': 1,
         '44122622': 1,
         '44128901': 1,
         '44148694': 1})

In [17]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_SELECT]
df_revised_case_normalized.head()
df_revised_case_normalized.shape

(122, 14)

# Export the normalized revised cases with the neccessary columns to a csv file

In [18]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [19]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 122 out of 78 revised cases from DtoD that can be matched with the bfs database data for Hirslanden Zurich 2019

In [20]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_Zurich_2019.csv