# Revised case normalization for Hirslanden Salem 2017

Notes: 
- There is are no cases that can be matched with the bfs database without any modifications. The reason is that a case_id (e.g.`'41194601'`) in the revised cases from DtoD needs to be padded with '00' to match with a bfs case_id (e.g.'0041194601').

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db
from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:
file_info = FileInfo(
    os.path.join(ROOT_DIR, 'raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx'),
    'Hirslanden Salem',
    '2017',
    ['Änderungen_SA_2017']
)

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx', hospital_name_db='Hirslanden Salem', year='2017', sheets=['Änderungen_SA_2017'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-14 11:54:29.324 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-14 11:54:29.325 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-14 11:54:29.326 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 43: discarded ICDs after validation {''}
2022-10-14 11:54:29.327 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 53: discarded ICDs after validation {''}
2022-10-14 11:54:29.330 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 0: discarded ICDs after validation {''}
2022-10-14 11:54:29.331 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-14 11:54:29.331 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-14 11:54:29.332 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 3: discarded ICDs after validation {''}
2022-10-14 11:54:29.333 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-14 11:54:29.334 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 5: discarded ICDs after validation {''}
2022-10-14 11:54:29.334 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-14 11:54:29.335 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-14 11:54:29.336 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-14 11:54:29.336 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}

Read 57 cases for Hirslanden Salem 2017
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-14 11:54:29.337 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 13: discarded ICDs after validation {''}
2022-10-14 11:54:29.338 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-14 11:54:29.339 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-14 11:54:29.339 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-14 11:54:29.340 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 19: discarded ICDs after validation {''}
2022-10-14 11:54:29.341 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 20: discarded ICDs after validation {''}
2022-10-14 11:54:29.342 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-14 11:54:29.343 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-14 11:54:29.343 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 23: discarded ICDs after validation {''}
2022-10-14 11:54:29.344 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-14 11:54:29.345 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 28: discarded ICDs after validation {''}
2022-10-14 11:54:29.345 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 30: discarded ICDs after validation {''}
2022-10-14 11:54:29.346 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}
2022-10-14 11:54:29.347 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 33: discarded ICDs after validation {''}
2022-10-14 11:54:29.348 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-14 11:54:29.348 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 35: discarded ICDs after validation {''}
2022-10-14 11:54:29.349 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 37: discarded ICDs after validation {''}
2022-10-14 11:54:29.350 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 38: discarded ICDs after validation {''}
2022-10-14 11:54:29.350 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-14 11:54:29.351 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 41: discarded ICDs after validation {''}
2022-10-14 11:54:29.352 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 43: discarded ICDs after validation {''}
2022-10-14 11:54:29.352 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 46: discarded ICDs after validation {''}
2022-10-14 11:54:29.352 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 47: discarded ICDs after validation {''}
2022-10-14 11:54:29.353 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 48: discarded ICDs after validation {''}
2022-10-14 11:54:29.354 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 49: discarded ICDs after validation {''}
2022-10-14 11:54:29.355 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 51: discarded ICDs after validation {''}
2022-10-14 11:54:29.356 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 52: discarded ICDs after validation {''}
2022-10-14 11:54:29.356 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 53: discarded ICDs after validation {''}
2022-10-14 11:54:29.357 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 55: discarded ICDs after validation {''}
2022-10-14 11:54:29.358 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 56: discarded ICDs after validation {''}
2022-10-14 11:54:29.360 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'948x40::20170128'}
2022-10-14 11:54:29.361 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'99b812::20170212'}
2022-10-14 11:54:29.361 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.362 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.363 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.363 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'99b813::20170117'}
2022-10-14 11:54:29.364 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.365 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.366 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.366 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {'835x11:R:20170427'}
2022-10-14 11:54:29.367 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.368 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.368 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {'99b811::20170519'}
2022-10-14 11:54:29.369 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.370 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.371 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.372 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.373 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {'99b810::20170627', '948x40::20170621'}
2022-10-14 11:54:29.374 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.374 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.375 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {'009a26:L:20170711', '403x23:B:20170711', '605x10::20170711'}
2022-10-14 11:54:29.376 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.377 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'8688i6:L:20170530', '86331d:L:20170602', '862a1d:L:20170608', '862a2d:L:20170530'}
2022-10-14 11:54:29.377 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.378 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {'99b810::20170710'}
2022-10-14 11:54:29.379 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.379 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'8526:R:20170201'}
2022-10-14 11:54:29.380 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.380 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.381 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.381 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.382 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.383 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {'570x99::20170916'}
2022-10-14 11:54:29.384 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.385 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {'009a26::20170217', '808511:R:20170215'}
2022-10-14 11:54:29.386 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.386 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.387 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.387 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {'004b1a:L:20171127'}
2022-10-14 11:54:29.389 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.389 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.390 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.390 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.391 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.392 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 45: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.393 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {'86531e:B:20170725', '86321e:B:20170731', '890a32::20170725'}
2022-10-14 11:54:29.394 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 47: discarded duplicated and invalid CHOP entries after validation {'862a1d:L:20170613'}
2022-10-14 11:54:29.394 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 48: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.395 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 49: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.396 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 50: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.396 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 51: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.397 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 52: discarded duplicated and invalid CHOP entries after validation {'890a32::20170818'}
2022-10-14 11:54:29.398 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 53: discarded duplicated and invalid CHOP entries after validation {'8311.807799'}
2022-10-14 11:54:29.398 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 54: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.399 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 55: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.399 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 56: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.402 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'948X40::20170128'}
2022-10-14 11:54:29.403 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'99B812::20170212'}
2022-10-14 11:54:29.404 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.404 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {'399521::20170304'}
2022-10-14 11:54:29.405 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.405 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'99B813::20170117'}
2022-10-14 11:54:29.406 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.407 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.408 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.408 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {'835X11:R:20170427'}
2022-10-14 11:54:29.409 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.409 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.410 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {'99B811::20170519'}
2022-10-14 11:54:29.410 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.411 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.412 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.412 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.413 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {'948X40::20170621', '99B810::20170627'}
2022-10-14 11:54:29.413 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.414 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {'009920::20170719'}
2022-10-14 11:54:29.414 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {'605X10::20170711', '009A26:L:20170711', '403X23:B:20170711'}
2022-10-14 11:54:29.415 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.415 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'862A2D:L:20170530', '862A1D:L:20170608', '86331D:L:20170602', '8688I6:L:20170530'}
2022-10-14 11:54:29.416 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.416 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {'99B810::20170710'}
2022-10-14 11:54:29.417 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.418 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'8521:R:20170201'}
2022-10-14 11:54:29.419 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.419 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.420 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.420 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.421 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.421 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {'570X99::20170916'}
2022-10-14 11:54:29.422 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-14 11:54:29.423 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {'808599:R:20170215', '009A26::20170217'}
2022-10-14 11:54:29.423 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,41194601,8A6B7DE0296BEFB8,W,73,10,3,I09C,M4806,M4806,M200,[N183],[],[],[]
1,41248206,8DAB6117ADBB2AFE,M,84,8,3,I43B,M179,M179,M200,[I420],[],[],[]
2,41302785,5865672002F07F3F,W,97,13,3,F62C,I5001,I5001,M100,"[E876, A099]",[],[],[]
3,41304308,0CD7621F494A9140,M,36,3,3,L63D,N390,N390,M100,"[G8202, Q051]",[],[],[]
4,41237114,376800437C6F8D5B,M,78,7,3,I09D,M9963,M9963,M200,"[T842, F101]",[],[],[]
5,41253912,5E937981CA697D01,W,55,8,3,E77F,J181,J181,M100,[R650],[],[],[]
6,41255088,5491B8F1614701D0,M,70,7,3,E77F,J181,J181,M100,"[J4402, B952, B953, Z223]",[J4492],[],[]
7,41292119,E300D9957309095B,W,66,9,3,I76B,T7961,T7961,M100,"[E539, J4409]",[E538],[],[]
8,41338818,A5F45686FD659A16,M,76,6,3,E65C,J4402,J4402,M100,[K564],[],[],[]
9,41349287,D440E215C612652F,W,58,5,3,I27C,M751,M751,M200,[E1191],[E1190],[],[]
10,41364918,2378594580556700160,W,89,14,3,I10C,S3201,S3201,M200,[L8911],[],[],[]
11,41389850,7F23438CBA2B0884,W,51,6,3,I09C,M4806,M4806,M200,[T844],[],[],[]
12,41389983,4550DCBE31052FC6,M,87,5,3,G48B,K254,K254,M100,[D6833],[],[990A],[]
13,41375575,6482B95A717622C2,M,79,17,3,I46C,M161,M161,M200,[L8914],[],[],[]
14,41405774,D5F84CF68AC910FD,W,87,11,3,F62C,I5001,I5001,M100,"[B91, G832]",[],[],[]
15,41407198,F030201EC2676DBA,W,80,11,3,J62B,C504,C504,M100,[J4481],[J4499],[],[]
16,41417724,EF0D69ACB0CCD6D0,W,80,14,3,I10C,M8048,M8048,M100,[C343],[D381],[],[]
17,41422903,687A264ACE35A4E1,M,65,14,3,I09D,M511,M511,M100,[G802],[],[],[]
18,41429357,C1C05B1BCFACCEDA,W,39,8,3,N04A,N800,N800,M300,[J90],[],[],[]
19,41438489,92ECFBA1A0E31D14,W,73,12,3,I09D,M4802,M4802,M200,[T842],[],[],[]
20,41442434,ADD27A2E0FE18E64,M,67,5,3,M01B,C61,C61,M200,[C775],[],[],[]
21,41475362,DBCF91CC9A74A06A,M,50,13,3,I46C,M169,M169,M200,"[D651, M966, D62]",[],[],[]
22,41397953,F1835EF39A795A4D,M,68,10,3,K09B,E1074,E1074,M100,[B952],[],[],[]
23,41433914,268F4B2598CBBB08,M,84,5,3,M09B,C61,C61,M200,[D693],[],[],[]
24,41437552,AE452BCA0BF33A6F,M,76,10,3,I05B,M1921,M1921,M200,[N183],[N189],[],[]
25,41447097,6D2F828227361258,M,86,17,3,J64C,A46,A46,M100,"[N182, D686]",[N1889],[],[]
26,41230075,DCCEF5165C8D4983,W,70,2,2,J25Z,C509,C509,M300,[],[],[],[]
27,41506483,CA6AA91F86B88195,W,44,6,3,L09B,N12,N12,M100,[J90],[R091],[],[]
28,41506527,C44C6C7274D35EF1,M,94,9,3,E75C,J22,J22,M100,[J941],[],[],[]
29,41506722,86C4615F740EBB9E,W,87,15,3,I08D,S7210,S7210,M200,"[E871, L8918]",[E870],[],[]
30,41529453,DA37BED2B2FDF5A3,W,54,8,3,G48B,K920,K920,M100,[B370],[],[],[]
31,41456079,B2D8952192F4652D,W,80,14,3,I46C,S7201,S7201,M100,"[E1191, D508]","[E1190, D649]",[],[]
32,41470794,1DF15466B7B3AB92,M,77,4,3,L18B,C675,C675,M200,"[D6959, N133]",[],[],[]
33,41487802,5DCCF9FAF90821F4,M,85,5,3,E65C,J4411,J4411,M100,"[I5001, J91]",[],[],[]
34,41271168,6163BF4276F04CA4,W,35,4,3,I21C,M2485,M2485,M200,[],[],[807510],[]
35,41300833,D926214AA6D49891,W,70,9,2,I09C,M4156,M4156,M200,[D62],[],[],[]
36,41418204,EA60E0495FE2B904,M,82,14,3,E75C,J22,J22,M100,"[E1191, N183]","[E1190, N189]",[],[]
37,41420840,4FD6714CDE2F17BB,M,59,3,2,L64B,N201,N201,M100,[E211],[],[],[]
38,41579881,9F486F6445BEA2F0,M,57,2,3,F54Z,I7024,I7024,M100,[I743],[],[],[]
39,41581364,973A6918EE09AEAE,W,86,13,3,E77F,J181,J181,M100,"[J4403, D684]",[J458],[],[]
40,41608546,10553A6D7A39FBD7,M,84,3,3,F62C,I5019,I5019,M100,[],[],[],[]
41,41367724,B0EC30C3D936A977,W,94,17,3,I46C,S7210,S7210,M200,[L8917],[],[],[]
42,41451537,F030201EC2676DBA,W,80,4,3,J23Z,C504,C504,M300,"[J4481, J9610]","[J4490, J9619]",[],[]
43,41464045,D1E4D008946575EE,W,24,2,2,I27D,M6587,M6587,M200,[],[],[807899],[]
44,41490828,5603A6542AC165AB,W,80,17,3,B72C,B020,B020,M100,"[E1191, G9129]",[E1190],[],[]
45,41597280,3A7A9561DB6F52DA,M,66,6,3,I05B,S4220,S4220,M100,[D62],[D648],[],[]
46,41400942,379D8A70A25BD0BA,M,80,23,3,I10C,M9943,M9943,M100,[D6833],[],[],[]
47,41409001,A62E1268B65E6AF8,W,77,8,0,I12C,T846,T846,M200,[M8617],[],[],[]
48,41443673,F8C5FFA4EF5FDB2F,W,69,10,2,I09E,M511,M511,M200,"[J4419, J952]",[],[],[]
49,41452311,04A64D9704687EEE,W,83,4,2,F62C,I5001,I5001,M100,"[J9600, I352]",[],[],[]
50,41486224,8C6258848A87F499,M,68,9,2,L63E,N10,N10,M100,[U804],[U81],[],[]
51,41577457,653C02FB9845E005,M,89,8,1,L63E,N10,N10,M100,"[L984, U804]",[],[],[]
52,41478672,1A053DBB3716D697,W,94,6,2,K60F,E1161,E1161,M100,[E440],[],[],[]
53,41502799,05E2BBE56D90814B,M,58,4,2,I27D,M6637,M6637,M200,[],[],[],[]
54,41510657,AA7BB70FD15BB323,M,89,13,3,I46C,M169,M169,M200,"[N183, F018]","[N1889, F03]",[],[]
55,41495658,B0B14321953D6095,W,31,2,3,O40A,O030,O030,M300,"[O081, D62]",[],[],[]
56,41532546,1A67125AE429CC84,M,70,9,3,L04C,N130,N130,M200,[U804],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['41194601', '41248206', '41302785', '41304308', '41237114',
       '41253912', '41255088', '41292119', '41338818', '41349287',
       '41364918', '41389850', '41389983', '41375575', '41405774',
       '41407198', '41417724', '41422903', '41429357', '41438489',
       '41442434', '41475362', '41397953', '41433914', '41437552',
       '41447097', '41230075', '41506483', '41506527', '41506722',
       '41529453', '41456079', '41470794', '41487802', '41271168',
       '41300833', '41418204', '41420840', '41579881', '41581364',
       '41608546', '41367724', '41451537', '41464045', '41490828',
       '41597280', '41400942', '41409001', '41443673', '41452311',
       '41486224', '41577457', '41478672', '41502799', '41510657',
       '41495658', '41532546'], dtype=object)

In [6]:
# change the case_id the same format as bfs data e.g. '0041194601'
revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
revised_case_id_pad0[0]
df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [7]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids(revised_case_id_pad0)
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,2.801,23138,3,0041194601,8A6B7DE0296BEFB8,73,0,W,10,4,0,0,0,2017-01-18,01,2017-01-28,00,I09C,I09,3
1,0.752,23713,3,0041230075,DCCEF5165C8D4983,70,0,W,2,5,0,0,0,2017-02-01,01,2017-02-03,00,J25Z,J25,2
2,2.578,23920,3,0041237114,376800437C6F8D5B,78,0,M,7,4,0,0,0,2017-01-10,01,2017-01-17,00,I09D,I09,3
3,1.965,24109,3,0041248206,8DAB6117ADBB2AFE,84,0,M,8,4,0,0,0,2017-02-08,01,2017-02-16,00,I43B,I43,3
4,0.830,24213,3,0041253912,5E937981CA697D01,55,0,W,8,3,0,0,0,2017-01-17,01,2017-01-25,00,E77F,E77,3

In [8]:
# 
print('Based on the column "case_id", there are {} out of {} revised cases from DtoD that can be matched with the bfs database data for {} {}'.format(len(revised_case_db), len(revised_case_id), file_info.hospital_name_db, file_info.year))

Based on the column "case_id", there are 57 out of 57 revised cases from DtoD that can be matched with the bfs database data for Hirslanden Salem 2017

In [9]:
# if we find the match cases, then we need to check if the case_id, gender, year....are match

In [10]:
df_revised_case_d2d.columns

Index(['case_id', 'patient_id', 'gender', 'age_years', 'duration_of_stay',
       'pccl', 'drg', 'old_pd', 'new_pd', 'bfs_code', 'added_icds',
       'removed_icds', 'added_chops', 'removed_chops'],
      dtype='object')

In [11]:
# substract the columns [case_id, new_pd_bfs_code	added_icds	removed_icds	added_chops	removed_chops] from revised_cases 

revised_case_d2d_subset = df_revised_case_d2d[['case_id', 'new_pd', 'added_icds', 'removed_icds', 'added_chops', 'removed_chops']]
revised_case_d2d_subset.head()

      case_id new_pd     added_icds removed_icds added_chops removed_chops
0  0041194601  M4806         [N183]           []          []            []
1  0041248206   M179         [I420]           []          []            []
2  0041302785  I5001   [E876, A099]           []          []            []
3  0041304308   N390  [G8202, Q051]           []          []            []
4  0041237114  M9963   [T842, F101]           []          []            []

In [12]:
# merge revised_case_d2d_subset with revised_case_db that matched from bfs data
revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='right', on='case_id')
revised_case_normalized.head()

,case_id,new_pd,added_icds,removed_icds,added_chops,removed_chops,drg_cost_weight,aimedic_id,hospital_id,patient_id,...,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,0041194601,M4806,[N183],[],[],[],2.801,23138,3,8A6B7DE0296BEFB8,...,0,0,0,2017-01-18,01,2017-01-28,00,I09C,I09,3
1,0041230075,C509,[],[],[],[],0.752,23713,3,DCCEF5165C8D4983,...,0,0,0,2017-02-01,01,2017-02-03,00,J25Z,J25,2
2,0041237114,M9963,"[T842, F101]",[],[],[],2.578,23920,3,376800437C6F8D5B,...,0,0,0,2017-01-10,01,2017-01-17,00,I09D,I09,3
3,0041248206,M179,[I420],[],[],[],1.965,24109,3,8DAB6117ADBB2AFE,...,0,0,0,2017-02-08,01,2017-02-16,00,I43B,I43,3
4,0041253912,J181,[R650],[],[],[],0.830,24213,3,5E937981CA697D01,...,0,0,0,2017-01-17,01,2017-01-25,00,E77F,E77,3