# Revised case normalization for Hirslanden Zurich 2018

Notes:
- There is 'n.ü.' in the duration_of_stay, at the moment repöace them with nan

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os
import numpy as np
from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
        os.path.join(ROOT_DIR, 'raw_data/HI-Zurich.xlsx'),
        'Hirslanden Zurich',
         '2018',
        ['Änderungen_Hirslanden_2018'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Zurich.xlsx', hospital_name_db='Hirslanden Zurich', year='2018', sheets=['Änderungen_Hirslanden_2018'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

try:
    df_revised_case_d2d = normalize(file_info, 0)
except ValueError:
    print(str(sys.exc_info()))

2022-10-17 18:55:42.223 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 31: discarded ICDs after validation {''}
2022-10-17 18:55:42.227 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}

Read 120 cases for Hirslanden Zurich 2018
4/120 rows were deleted because contained NaNs
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-17 18:55:42.228 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 3: discarded ICDs after validation {''}
2022-10-17 18:55:42.229 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 5: discarded ICDs after validation {''}
2022-10-17 18:55:42.229 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-17 18:55:42.230 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 7: discarded ICDs after validation {''}
2022-10-17 18:55:42.230 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-17 18:55:42.231 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 13: discarded ICDs after validation {''}
2022-10-17 18:55:42.231 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-17 18:55:42.232 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 15: discarded ICDs after validation {''}
2022-10-17 18:55:42.232 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 16: discarded ICDs after validation {''}
2022-10-17 18:55:42.233 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-17 18:55:42.233 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 19: discarded ICDs after validation {''}
2022-10-17 18:55:42.234 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 20: discarded ICDs after validation {''}
2022-10-17 18:55:42.235 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-17 18:55:42.235 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 18:55:42.236 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 23: discarded ICDs after validation {''}
2022-10-17 18:55:42.236 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 25: discarded ICDs after validation {''}
2022-10-17 18:55:42.237 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 27: discarded ICDs after validation {''}
2022-10-17 18:55:42.237 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 29: discarded ICDs after validation {''}
2022-10-17 18:55:42.238 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 31: discarded ICDs after validation {''}
2022-10-17 18:55:42.239 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}
2022-10-17 18:55:42.239 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-17 18:55:42.240 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 35: discarded ICDs after validation {''}
2022-10-17 18:55:42.241 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 36: discarded ICDs after validation {''}
2022-10-17 18:55:42.241 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 37: discarded ICDs after validation {''}
2022-10-17 18:55:42.242 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 38: discarded ICDs after validation {''}
2022-10-17 18:55:42.243 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 39: discarded ICDs after validation {''}
2022-10-17 18:55:42.244 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-17 18:55:42.244 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 43: discarded ICDs after validation {''}
2022-10-17 18:55:42.245 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 44: discarded ICDs after validation {''}
2022-10-17 18:55:42.246 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 45: discarded ICDs after validation {''}
2022-10-17 18:55:42.247 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 47: discarded ICDs after validation {''}
2022-10-17 18:55:42.247 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 48: discarded ICDs after validation {''}
2022-10-17 18:55:42.248 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 49: discarded ICDs after validation {''}
2022-10-17 18:55:42.248 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 50: discarded ICDs after validation {''}
2022-10-17 18:55:42.249 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 52: discarded ICDs after validation {''}
2022-10-17 18:55:42.250 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 53: discarded ICDs after validation {''}
2022-10-17 18:55:42.250 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 54: discarded ICDs after validation {''}
2022-10-17 18:55:42.251 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 55: discarded ICDs after validation {''}
2022-10-17 18:55:42.252 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 57: discarded ICDs after validation {''}
2022-10-17 18:55:42.252 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 58: discarded ICDs after validation {''}
2022-10-17 18:55:42.253 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 59: discarded ICDs after validation {''}
2022-10-17 18:55:42.254 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 60: discarded ICDs after validation {''}
2022-10-17 18:55:42.255 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 61: discarded ICDs after validation {''}
2022-10-17 18:55:42.256 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 63: discarded ICDs after validation {''}
2022-10-17 18:55:42.256 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 64: discarded ICDs after validation {''}
2022-10-17 18:55:42.257 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 65: discarded ICDs after validation {''}
2022-10-17 18:55:42.258 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 67: discarded ICDs after validation {''}
2022-10-17 18:55:42.258 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 68: discarded ICDs after validation {''}
2022-10-17 18:55:42.259 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 69: discarded ICDs after validation {''}
2022-10-17 18:55:42.260 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 70: discarded ICDs after validation {''}
2022-10-17 18:55:42.261 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 71: discarded ICDs after validation {''}
2022-10-17 18:55:42.261 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 72: discarded ICDs after validation {''}
2022-10-17 18:55:42.262 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 73: discarded ICDs after validation {''}
2022-10-17 18:55:42.262 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 74: discarded ICDs after validation {''}
2022-10-17 18:55:42.263 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 75: discarded ICDs after validation {''}
2022-10-17 18:55:42.263 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 76: discarded ICDs after validation {''}
2022-10-17 18:55:42.264 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 77: discarded ICDs after validation {''}
2022-10-17 18:55:42.264 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 78: discarded ICDs after validation {''}
2022-10-17 18:55:42.265 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 79: discarded ICDs after validation {''}
2022-10-17 18:55:42.265 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 81: discarded ICDs after validation {''}
2022-10-17 18:55:42.266 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 82: discarded ICDs after validation {''}
2022-10-17 18:55:42.267 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 83: discarded ICDs after validation {''}
2022-10-17 18:55:42.268 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 84: discarded ICDs after validation {''}
2022-10-17 18:55:42.268 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 85: discarded ICDs after validation {''}
2022-10-17 18:55:42.269 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 86: discarded ICDs after validation {''}
2022-10-17 18:55:42.269 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 87: discarded ICDs after validation {''}
2022-10-17 18:55:42.270 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 88: discarded ICDs after validation {''}
2022-10-17 18:55:42.271 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 90: discarded ICDs after validation {''}
2022-10-17 18:55:42.271 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 93: discarded ICDs after validation {''}
2022-10-17 18:55:42.272 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 95: discarded ICDs after validation {''}
2022-10-17 18:55:42.272 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 96: discarded ICDs after validation {''}
2022-10-17 18:55:42.273 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 97: discarded ICDs after validation {''}
2022-10-17 18:55:42.273 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 98: discarded ICDs after validation {''}
2022-10-17 18:55:42.274 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 99: discarded ICDs after validation {''}
2022-10-17 18:55:42.274 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 100: discarded ICDs after validation {''}
2022-10-17 18:55:42.275 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 101: discarded ICDs after validation {''}
2022-10-17 18:55:42.275 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 102: discarded ICDs after validation {''}
2022-10-17 18:55:42.276 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 103: discarded ICDs after validation {''}
2022-10-17 18:55:42.277 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 104: discarded ICDs after validation {''}
2022-10-17 18:55:42.277 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 105: discarded ICDs after validation {''}
2022-10-17 18:55:42.278 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 106: discarded ICDs after validation {''}
2022-10-17 18:55:42.279 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 108: discarded ICDs after validation {''}
2022-10-17 18:55:42.279 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 109: discarded ICDs after validation {''}
2022-10-17 18:55:42.279 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 111: discarded ICDs after validation {''}
2022-10-17 18:55:42.280 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 112: discarded ICDs after validation {''}
2022-10-17 18:55:42.280 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 113: discarded ICDs after validation {''}
2022-10-17 18:55:42.281 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 114: discarded ICDs after validation {''}
2022-10-17 18:55:42.281 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 115: discarded ICDs after validation {''}
2022-10-17 18:55:42.282 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 117: discarded ICDs after validation {''}
2022-10-17 18:55:42.282 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 118: discarded ICDs after validation {''}
2022-10-17 18:55:42.283 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 119: discarded ICDs after validation {''}
2022-10-17 18:55:42.286 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'99b711::20180118', '403x23::20180118', '544x11::20180118', '009a12::20180118', '890a32::20180122', '009a14::20180118'}
2022-10-17 18:55:42.286 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'890a32::20180104'}
2022-10-17 18:55:42.287 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {'866b2c:L:20180112', '862a1e:L:20180112', '86531e:L:20180112'}
2022-10-17 18:55:42.288 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {'80051c:R:20180130'}
2022-10-17 18:55:42.288 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {'99b712::20180202', '009a13::20180202', '502a2c::20180202', '890a32::20180205'}
2022-10-17 18:55:42.288 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'99b711::20180201'}
2022-10-17 18:55:42.289 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {'99b711::20180206'}
2022-10-17 18:55:42.290 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {'99b711::20180214'}
2022-10-17 18:55:42.290 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {'361d11::20180118', '361c12::20180118', '99b713::20180118'}
2022-10-17 18:55:42.290 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.292 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {'99b713::20180221'}
2022-10-17 18:55:42.292 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {'598x11:B:20180112'}
2022-10-17 18:55:42.293 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {'99b711::20180116'}
2022-10-17 18:55:42.294 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {'890a32::20180123'}
2022-10-17 18:55:42.294 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {'890a32::20180116'}
2022-10-17 18:55:42.295 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.295 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.295 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.296 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'890a32::20180212'}
2022-10-17 18:55:42.297 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {'99221a::20171226'}
2022-10-17 18:55:42.297 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.298 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.298 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'890a11::20180111'}
2022-10-17 18:55:42.299 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.300 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {'346x22:R:20180301', '99b711::20180301', '346x23:R:20180301'}
2022-10-17 18:55:42.301 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.301 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {'570x12::20180306', '598x11:R:20180306'}
2022-10-17 18:55:42.302 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.303 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {'99b713::20180315', '361c15::20180315'}
2022-10-17 18:55:42.303 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {'890a32::20180319', '99b711::20180315', '009a13::20180315'}
2022-10-17 18:55:42.304 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.305 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {'99b711::20180319'}
2022-10-17 18:55:42.305 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {'99b711::20180317'}
2022-10-17 18:55:42.306 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.306 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {'862a2e:R:20180328', '862b2e:R:20180320', '948x40::20180404', '862b2e:R:20180316', '8688i5::20180328', '8688j3::20180320', '866b2c:R:20180328', '8688j3::20180316'}
2022-10-17 18:55:42.307 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {'99b711::20180326', '544x99::20180326', '598x10:B:20180326', '890a11::20180330', '009a13::20180326', '009a12::20180326'}
2022-10-17 18:55:42.308 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.309 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.309 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.310 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 43: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:55:42.310 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {'890a32::20180416'}

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0041622923,D57E1A8A84BA5715,M,76,19,3,G17Z,C20,C20,M200,[E440],[E441],[],[]
1,0041628878,1EAE82BF47B46A42,M,84,5,3,R60E,C9200,C9200,M100,[B909],[],[],[]
2,0041634840,69B604C8EDC65FDA,M,66,17,3,X06B,T818,T818,M100,"[E1173, T842, I5013]","[E1121, E1151, E1141]",[],[]
3,0041643502,D3F33C4023F17E75,W,72,14,3,I08C,M161,M161,M200,[D62],[],[],[]
4,0041657438,B26B73105A4B1FE3,M,66,8,3,H01B,K835,K835,M200,"[D1803, I420]","[D134, Z867]",[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0044091599,FF1CA55986D937DB,M,75,7,3,G60B,C180,C180,M100,[E43],[],[],[]
116,0044093471,F44CB526CF8A238E,W,55,6,3,F75D,T827,T827,M100,[D592],[D648],[],[]
117,0044094461,9FDAF84F7F440BFA,W,82,7,3,L63D,N10,N10,M100,"[U804, B966]",[],[],[]
118,0044098568,CDD9C616F85275E8,W,64,12,3,F06B,I351,I351,M200,"[E871, I5001, I652]",[],[],[]
119,0044101709,B5EDDF6C80211C2A,W,59,13,3,R61D,C9000,C9000,M100,[D6958],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['0041622923', '0041628878', '0041634840', '0041643502',
       '0041657438', '0041663091', '0041667883', '0041681234',
       '0041599301', '0041607224', '0041609140', '0041640963',
       '0041644444', '0041645715', '0041645764', '0041654006',
       '0041660151', '0041661822', '0041677400', '0041625950',
       '0041628307', '0041629305', '0041636297', '0041689614',
       '0041689771', '0041697972', '0041703740', '0041709733',
       '0041712923', '0041704484', '0041706998', '0041708001',
       '0041710019', '0041712227', '0041712478', '0041715111',
       '0041727258', '0041729677', '0041733974', '0044000509',
       '0044004182', '0044006689', '0044006827', '0041733872',
       '0044003361', '0044007343', '0044008464', '0044009706',
       '0044010330', '0044011741', '0044011898', '0044016534',
       '0044016444', '0044016672', '0044029391', '0044032804',
       '0044042078', '0044042175', '0044045394', '0044048088',
       '0044048666', '0044049149', '0044049518', '0044052113',
       '0044029104', '0044036036', '0044047073', '0044047789',
       '0044048104', '0044048275', '0044050058', '0044050703',
       '0044051373', '0044056188', '0044029406', '0044033628',
       '0044037928', '0044042253', '0044043047', '0044055054',
       '0044059102', '0044060194', '0044061739', '0044068395',
       '0044069428', '0044069625', '0044069921', '0044070890',
       '0044073383', '0044074635', '0044074884', '0044075671',
       '0044076224', '0044076953', '0044077117', '0044079835',
       '0044081084', '0044081235', '0044081335', '0044083162',
       '0044084166', '0041653303', '0041665663', '0044012455',
       '0044019918', '0044043004', '0044047360', '0044047416',
       '0044055682', '0044085542', '0044088302', '0044091599',
       '0044093471', '0044094461', '0044098568', '0044101709'],
      dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

In [7]:
# change the case_id the same format as bfs data e.g. '0041194601' 
# revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
# revised_case_id_pad0[0]
# df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [8]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(revised_case_id_stripped)
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,2.228,156769,1,0041622923,D57E1A8A84BA5715,76,0,M,19,4,0,0,0,2018-01-17,01,2018-02-05,00,G17Z,G17,3
0,1.496,157016,1,0041628878,1EAE82BF47B46A42,84,0,M,5,3,0,0,0,2018-01-03,01,2018-01-08,00,R60E,R60,3
0,1.062,157207,1,0041634840,69B604C8EDC65FDA,66,0,M,17,3,0,0,0,2018-01-06,01,2018-01-23,00,X06B,X06,3
0,2.320,157547,1,0041643502,D3F33C4023F17E75,72,0,W,14,4,0,0,0,2018-01-22,01,2018-02-05,00,I08C,I08,3
0,3.359,158153,1,0041657438,B26B73105A4B1FE3,66,0,M,8,4,0,0,0,2018-02-01,01,2018-02-09,00,H01B,H01,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,2.228,156769,1,0041622923,D57E1A8A84BA5715,76,0,M,19,4,...,0,0,2018-01-17,01,2018-02-05,00,G17Z,G17,3,41622923
0,1.496,157016,1,0041628878,1EAE82BF47B46A42,84,0,M,5,3,...,0,0,2018-01-03,01,2018-01-08,00,R60E,R60,3,41628878
0,1.062,157207,1,0041634840,69B604C8EDC65FDA,66,0,M,17,3,...,0,0,2018-01-06,01,2018-01-23,00,X06B,X06,3,41634840
0,2.320,157547,1,0041643502,D3F33C4023F17E75,72,0,W,14,4,...,0,0,2018-01-22,01,2018-02-05,00,I08C,I08,3,41643502
0,3.359,158153,1,0041657438,B26B73105A4B1FE3,66,0,M,8,4,...,0,0,2018-02-01,01,2018-02-09,00,H01B,H01,3,41657438

In [10]:
df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped
0,0041622923,D57E1A8A84BA5715,M,76,19,3,G17Z,C20,C20,M200,[E440],[E441],[],[],41622923
1,0041628878,1EAE82BF47B46A42,M,84,5,3,R60E,C9200,C9200,M100,[B909],[],[],[],41628878
2,0041634840,69B604C8EDC65FDA,M,66,17,3,X06B,T818,T818,M100,"[E1173, T842, I5013]","[E1121, E1151, E1141]",[],[],41634840
3,0041643502,D3F33C4023F17E75,W,72,14,3,I08C,M161,M161,M200,[D62],[],[],[],41643502
4,0041657438,B26B73105A4B1FE3,M,66,8,3,H01B,K835,K835,M200,"[D1803, I420]","[D134, Z867]",[],[],41657438

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [11]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'], suffixes=None)
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(116, 28)

/tmp/ipykernel_3335/3233428173.py:4: FutureWarning: Passing 'suffixes' as a <class 'NoneType'>, is not supported and may give unexpected results. Provide 'suffixes' as a tuple instead. In the future a 'TypeError' will be raised.
  revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'], suffixes=None)

,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped,gender,age_years,...,age_days,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,adrg
0,C20,C20,M200,[E440],[E441],[],[],41622923,M,76,...,0,4,0,0,0,2018-01-17,01,2018-02-05,00,G17
1,C9200,C9200,M100,[B909],[],[],[],41628878,M,84,...,0,3,0,0,0,2018-01-03,01,2018-01-08,00,R60
2,T818,T818,M100,"[E1173, T842, I5013]","[E1121, E1151, E1141]",[],[],41634840,M,66,...,0,3,0,0,0,2018-01-06,01,2018-01-23,00,X06
3,M161,M161,M200,[D62],[],[],[],41643502,W,72,...,0,4,0,0,0,2018-01-22,01,2018-02-05,00,I08
4,K835,K835,M200,"[D1803, I420]","[D134, Z867]",[],[],41657438,M,66,...,0,4,0,0,0,2018-02-01,01,2018-02-09,00,H01

In [12]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]
assert len(df_revised_case_normalized.columns) == len(COLS_TO_OUTPUT)

df_revised_case_normalized.head()

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,156769,0041622923,D57E1A8A84BA5715,M,76,19,3,G17Z,C20,C20,M200,[E440],[E441],[],[]
1,157016,0041628878,1EAE82BF47B46A42,M,84,5,3,R60E,C9200,C9200,M100,[B909],[],[],[]
2,157207,0041634840,69B604C8EDC65FDA,M,66,17,3,X06B,T818,T818,M100,"[E1173, T842, I5013]","[E1121, E1151, E1141]",[],[]
3,157547,0041643502,D3F33C4023F17E75,W,72,14,3,I08C,M161,M161,M200,[D62],[],[],[]
4,158153,0041657438,B26B73105A4B1FE3,M,66,8,3,H01B,K835,K835,M200,"[D1803, I420]","[D134, Z867]",[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [13]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [14]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 116 out of 116 revised cases from DtoD that can be matched with the bfs database data for Hirslanden Zurich 2018

In [15]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_Zurich_2018.csv