# Revised case normalization for Hirslanden Zurich 2019
note:
- Assert error: case_id in this hospital is 'Fall Nummer'
- merge from 78 to 78 -> 122 ???? due to duplicated cases in the revised cases
- '0044151336' and '44151336' both appears in the revised cases, using set() delted duplicated case_id

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
        os.path.join(ROOT_DIR, 'raw_data/HI-Zurich.xlsx'),
        'Hirslanden Zurich',
         '2019',
        ['Änderungen_MIX_Hirslanden_2019'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Zurich.xlsx', hospital_name_db='Hirslanden Zurich', year='2019', sheets=['Änderungen_MIX_Hirslanden_2019'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0, columns_mapper = cols_to_rename)

2022-10-17 18:40:15.933 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-17 18:40:15.934 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-17 18:40:15.934 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-17 18:40:15.935 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-17 18:40:15.936 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-17 18:40:15.936 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-17 18:40:15.937 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-17 18:40:15.938 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 16: discarded ICDs after validation {''}
2022-10-17 18:40:15.938 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-17 18:40:15.939 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 20: discarded ICDs after validation {''}
2022-10-17 18:40:15.940 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 18:40:15.941 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 24: discarded ICDs after validation {''}
2022-10-17 18:40:15.941 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-17 18:40:15.942 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 28: discarded ICDs after validation {''}
2022-10-17 18:40:15.943 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 30: discarded ICDs after validation {''}
2022-10-17 18:40:15.943 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}
2022-10-17 18:40:15.944 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-17 18:40:15.945 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 36: discarded ICDs after validation {''}
2022-10-17 18:40:15.946 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 38: discarded ICDs after validation {''}
2022-10-17 18:40:15.947 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-17 18:40:15.948 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 42: discarded ICDs after validation {''}
2022-10-17 18:40:15.948 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 44: discarded ICDs after validation {''}
2022-10-17 18:40:15.949 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 46: discarded ICDs after validation {''}
2022-10-17 18:40:15.949 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 48: discarded ICDs after validation {''}
2022-10-17 18:40:15.950 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 50: discarded ICDs after validation {''}
2022-10-17 18:40:15.951 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 52: discarded ICDs after validation {''}
2022-10-17 18:40:15.952 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 54: discarded ICDs after validation {''}
2022-10-17 18:40:15.952 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 56: discarded ICDs after validation {''}
2022-10-17 18:40:15.953 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 58: discarded ICDs after validation {''}
2022-10-17 18:40:15.954 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 62: discarded ICDs after validation {''}
2022-10-17 18:40:15.955 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 64: discarded ICDs after validation {''}
2022-10-17 18:40:15.956 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 66: discarded ICDs after validation {''}
2022-10-17 18:40:15.956 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 68: discarded ICDs after validation {''}
2022-10-17 18:40:15.957 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 70: discarded ICDs after validation {''}
2022-10-17 18:40:15.958 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 72: discarded ICDs after validation {''}
2022-10-17 18:40:15.958 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 74: discarded ICDs after validation {''}
2022-10-17 18:40:15.959 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 76: discarded ICDs after validation {''}
2022-10-17 18:40:15.960 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 78: discarded ICDs after validation {''}
2022-10-17 18:40:15.960 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 80: discarded ICDs after validation {''}
2022-10-17 18:40:15.961 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 82: discarded ICDs after validation {''}
2022-10-17 18:40:15.962 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 84: discarded ICDs after validation {''}
2022-10-17 18:40:15.962 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 86: discarded ICDs after validation {''}
2022-10-17 18:40:15.963 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 90: discarded ICDs after validation {''}
2022-10-17 18:40:15.964 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 92: discarded ICDs after validation {''}
2022-10-17 18:40:15.965 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 94: discarded ICDs after validation {''}
2022-10-17 18:40:15.966 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 96: discarded ICDs after validation {''}
2022-10-17 18:40:15.967 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 98: discarded ICDs after validation {''}
2022-10-17 18:40:15.967 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 100: discarded ICDs after validation {''}
2022-10-17 18:40:15.968 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 104: discarded ICDs after validation {''}
2022-10-17 18:40:15.969 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 106: discarded ICDs after validation {''}
2022-10-17 18:40:15.970 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 108: discarded ICDs after validation {''}
2022-10-17 18:40:15.971 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 110: discarded ICDs after validation {''}
2022-10-17 18:40:15.971 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 112: discarded ICDs after validation {''}
2022-10-17 18:40:15.972 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 114: discarded ICDs after validation {''}
2022-10-17 18:40:15.973 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 116: discarded ICDs after validation {''}
2022-10-17 18:40:15.973 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 118: discarded ICDs after validation {''}
2022-10-17 18:40:15.974 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 120: discarded ICDs after validation {''}
2022-10-17 18:40:15.975 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 122: discarded ICDs after validation {''}
2022-10-17 18:40:15.975 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 124: discarded ICDs after validation {''}
2022-10-17 18:40:15.976 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 126: discarded ICDs after validation {''}
2022-10-17 18:40:15.977 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 128: discarded ICDs after validation {''}
2022-10-17 18:40:15.978 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 130: discarded ICDs after validation {''}
2022-10-17 18:40:15.978 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 132: discarded ICDs after validation {''}
2022-10-17 18:40:15.979 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 138: discarded ICDs after validation {''}
2022-10-17 18:40:15.980 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 142: discarded ICDs after validation {''}
2022-10-17 18:40:15.981 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 144: discarded ICDs after validation {''}
2022-10-17 18:40:15.981 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 146: discarded ICDs after validation {''}
2022-10-17 18:40:15.982 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 148: discarded ICDs after validation {''}
2022-10-17 18:40:15.982 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 150: discarded ICDs after validation {''}
2022-10-17 18:40:15.983 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 152: discarded ICDs after validation {''}
2022-10-17 18:40:15.983 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 154: discarded ICDs after validation {''}
2022-10-17 18:40:15.986 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'99b711::20190502'}
2022-10-17 18:40:15.987 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.987 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.988 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {'890a32::20190731'}
2022-10-17 18:40:15.989 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {'890a21::20190926'}
2022-10-17 18:40:15.989 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.990 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.990 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {'890a32::20191013'}
2022-10-17 18:40:15.991 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {'99b712::20190109', '361c13::20190109', '35f121::20190109'}
2022-10-17 18:40:15.992 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.993 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.993 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'99ba14::20190116', '99b712::20190110'}
2022-10-17 18:40:15.994 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.995 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'7aa415::20190122', '7a5114::20190122', '7ab121::20190122', '7a7113::20190122', '7a5115::20190122'}
2022-10-17 18:40:15.995 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {'99b711::20190129', '890a21::20190129', '948x40::20190201'}
2022-10-17 18:40:15.996 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {'99b711::20190129', '009b11::20190129', '544x11::20190129', '990410::20190129'}
2022-10-17 18:40:15.997 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:15.998 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {'890a32::20190415', '403x23::20190412'}
2022-10-17 18:40:15.998 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {'99b712::20190531', '009b11::20190531'}
2022-10-17 18:40:15.999 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {'99b711::20190928'}
2022-10-17 18:40:15.999 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {'99b711::20191006'}
2022-10-17 18:40:16.000 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {'99b713::20191009'}
2022-10-17 18:40:16.001 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {'86321e:L:20190110'}
2022-10-17 18:40:16.002 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {'862a2e:L:20190220', '004b18:L:20190122', '862a2e:L:20190207', '862a2e:L:20190122', '866b2c:L:20190220', '004b45:L:20190207', '004b45:L:20190122', '862a2e:L:20190131', '8688de:L:20190131'}
2022-10-17 18:40:16.003 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 48: discarded duplicated and invalid CHOP entries after validation {'99b711::20190307'}
2022-10-17 18:40:16.003 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 50: discarded duplicated and invalid CHOP entries after validation {'890a12::20190227'}
2022-10-17 18:40:16.005 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 52: discarded duplicated and invalid CHOP entries after validation {'598x99:B:20190305', '009b11::20190305', '99b711::20190305'}
2022-10-17 18:40:16.006 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 54: discarded duplicated and invalid CHOP entries after validation {'7a82::20190415', '7ab3::20190415', '7ab131::20190415', '7a5114::20190415', '7ab131::20190404', '7a7115::20190404', '7a7115::20190415', '7a5211::20190404', '7a82::20190404', '7aa415::20190404', '7a5115::20190404', '7ab3::20190404', '7aa415::20190415', '7a5115::20190415', '7a5114::20190404', '7a3211::20190404', '034x21::20190415'}
2022-10-17 18:40:16.006 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 56: discarded duplicated and invalid CHOP entries after validation {'004a33::20190404'}
2022-10-17 18:40:16.007 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 58: discarded duplicated and invalid CHOP entries after validation {'7aa415::20190518', '7ab131::20190518', '7a5211::20190518', '7a21::20190614', '890a11::20190612', '7a3211::20190518', '7a7111::20190518', '99221a::20190612'}
2022-10-17 18:40:16.007 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 60: discarded duplicated and invalid CHOP entries after validation {'890a32::20190515', '99b711::20190516'}
2022-10-17 18:40:16.008 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 62: discarded duplicated and invalid CHOP entries after validation {'99b711::20190601', '7ab131::20190601', '7a3211::20190601'}
2022-10-17 18:40:16.009 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 64: discarded duplicated and invalid CHOP entries after validation {'890a32::20190727', '009b11::20190724', '009a2a:R:20190731'}
2022-10-17 18:40:16.010 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 66: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:16.010 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 68: discarded duplicated and invalid CHOP entries after validation {'009b11::20190109', '99b711::20190109'}
2022-10-17 18:40:16.011 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 70: discarded duplicated and invalid CHOP entries after validation {'009a13::20190117', '99b712::20190117', '890a32::20190123', '009b11::20190117'}
2022-10-17 18:40:16.012 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 72: discarded duplicated and invalid CHOP entries after validation {'7a5114::20190124', '7a7112::20190124', '7ab3::20190124', '7aa151::20190124', '7ab131::20190124', '7a5115::20190124', '7a82::20190124', '7aa415::20190124'}
2022-10-17 18:40:16.013 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 74: discarded duplicated and invalid CHOP entries after validation {'009b11::20190225', '99b712::20190225', '009a13::20190225', '890a32::20190228'}
2022-10-17 18:40:16.013 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 76: discarded duplicated and invalid CHOP entries after validation {'7a5115::20190228', '7ab111::20190228', '7aa152::20190228', '7a7122::20190228', '7aa415::20190228'}
2022-10-17 18:40:16.014 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 78: discarded duplicated and invalid CHOP entries after validation {'7a5115::20190306', '7a5114::20190306', '7a3211::20190306', '7a82::20190306', '7ab3::20190306', '7a7112::20190306', '7ab131::20190306', '7aa415::20190306'}
2022-10-17 18:40:16.015 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 80: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:16.016 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 82: discarded duplicated and invalid CHOP entries after validation {'009a13::20190418', '99b712::20190418', '009b11::20190418', '890a32::20190422'}
2022-10-17 18:40:16.016 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 84: discarded duplicated and invalid CHOP entries after validation {'7ab131::20190509', '7a5114::20190509', '7aa151::20190509', '7aa415::20190509', '890a21::20190509', '7a1221::20190509', '7a7111::20190509', '7a6531::20190509', '7ab3::20190509', '7a82::20190509'}
2022-10-17 18:40:16.017 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 86: discarded duplicated and invalid CHOP entries after validation {'99b713::20190827', '009b11::20190827', '403x23::20190827', '502a2c::20190827'}
2022-10-17 18:40:16.018 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 88: discarded duplicated and invalid CHOP entries after validation {'890a32::20191009', '004b17:B:20191004', '004b18:L:20191004'}
2022-10-17 18:40:16.018 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 90: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:16.019 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 92: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 18:40:16.021 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 94: discarded duplicated and invalid CHOP entries after validation {'862a2e:L:20190415'}
2022-10-17 18:40:16.022 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 96: discarded duplicated and invalid CHOP entries after validation {''}

Read 155 cases for Hirslanden Zurich 2019
77/155 rows were deleted because contained NaNs
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

# Match revised DtoD data with the bfs data from the database

In [4]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['0044151336', '0044162952', '0044174916', '0044184703',
       '0044201740', '0044207672', '0044213833', '0044215776', '44101606',
       '44104525', '44105681', '44107335', '44107676', '44108722',
       '44109815', '44113655', '44125350', '44143612', '44162169',
       '44205344', '44212779', '44214368', '44107556', '44110727',
       '44118028', '44119597', '44125669', '44135768', '44139324',
       '44153256', '44156085', '44163377', '44181674', '44182926',
       '44084064', '44104968', '44107697', '44104968', '44125054',
       '44125625', '44134808', '44146114', '44152500', '0044191819',
       '44209519', '44116933', '44120153', '0044132051', '44164627',
       '0044176401', '44181751', '44184371', '44207478', '44101606',
       '44104525', '44105681', '44107335', '44107676', '44108722',
       '44109815', '44113655', '44125350', '44143612', '44162169',
       '44205344', '44212779', '44214368', '0044122622', '44128901',
       '44148694', '44151336', '44162952', '44174916', '44184703',
       '44201740', '44207672', '44213833', '44215776'], dtype=object)

In [5]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]
len(revised_case_id_stripped)

78

### Check if there are duplicated case_ids, if yes, delete them

In [1]:
# Delete duplicated case_id in this hospital.

revised_case_id_stripped_set = set(revised_case_id_stripped)
if len(revised_case_id_stripped) > len(revised_case_id_stripped_set):
    print(f'There are duplicated case_ids in the revised case.' )

NameError: name 'revised_case_id_stripped' is not defined

In [7]:
# change the case_id the same format as bfs data e.g. '0041194601' 
# revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
# revised_case_id_pad0[0]
# df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [8]:
# match to the database and retrieve data from database using revised
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(list(revised_case_id_stripped_set))
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,1.940,234703,1,0044164627,58D35DE98034237D,88,0,M,5,4,0,0,0,2019-06-19,01,2019-06-24,00,F34D,F34,3
0,0.952,230910,1,0044134808,25AC80C8B5D88D22,61,0,M,4,4,0,0,0,2019-04-04,01,2019-04-08,00,F59F,F59,3
0,0.883,240439,1,0044212779,A56686572414BDAC,81,0,W,9,3,0,0,0,2019-10-06,01,2019-10-15,00,H41D,H41,2
0,1.940,228856,1,0044120153,25AC80C8B5D88D22,61,0,M,4,4,0,0,0,2019-02-17,01,2019-02-21,00,F34D,F34,3
0,0.658,229593,1,0044125350,0E25481D9EFB6C23,86,0,M,7,3,0,0,0,2019-02-25,01,2019-03-04,00,G46C,G46,2

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()
print(revised_case_db.shape)

(55, 21)

In [10]:
df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()
print(df_revised_case_d2d.shape)

(78, 15)

In [11]:
# delete duplicated cases in the revised cases

df_revised_case_d2d['case_id_stripped'].apply(tuple) # make sure the drop_duplicates works

df_revised_case_d2d.drop_duplicates(subset=['case_id_stripped'], keep='last', inplace=True)
assert len(revised_case_id_stripped) == df_revised_case_d2d.shape[0] # make sure all cases are deleted
print(f'The number of cases after deleting the duplicated cases is: {df_revised_case_d2d.shape[0]}')

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [12]:
revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id', 'case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
revised_case_d2d_subset.head()

,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id,case_id_stripped,gender,age_years,duration_of_stay,pccl,drg
44,T821,T821,M200,[L8932],[],[],[],44107556,44107556,M,79,4,3,F18B
46,T828,T828,M200,"[D62, I350]",[],[],[],44110727,44110727,W,77,42,3,F34D
48,M4806,M4806,M200,[G2090],[],[],[],44118028,44118028,M,85,9,3,I10C
50,K660,K660,M000,[J841],[],[],[],44119597,44119597,M,71,7,3,G21B
52,N304,N304,M200,[T820],[],[],[],44125669,44125669,M,77,10,3,L04C

In [13]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(55, 28)

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,adrg,pccl,case_id_stripped,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,1.940,234703,1,0044164627,58D35DE98034237D,88,0,M,5,4,...,F34,3,44164627,I723,I723,M200,[I341],[],[],[]
1,0.952,230910,1,0044134808,25AC80C8B5D88D22,61,0,M,4,4,...,F59,3,44134808,T828,T828,M200,[E6682],[],[],[]
2,0.883,240439,1,0044212779,A56686572414BDAC,81,0,W,9,3,...,H41,2,44212779,K8510,K8510,M100,[I5013],[],[],[]
3,1.940,228856,1,0044120153,25AC80C8B5D88D22,61,0,M,4,4,...,F34,3,44120153,I7022,I7022,M200,[E6682],[],[],[]
4,0.658,229593,1,0044125350,0E25481D9EFB6C23,86,0,M,7,3,...,G46,2,44125350,K254,K254,M100,[D6835],[],[],[]

In [15]:
COLS_TO_OUTPUT

['aimedic_id',
 'case_id',
 'patient_id',
 'gender',
 'age_years',
 'duration_of_stay',
 'pccl',
 'drg',
 'old_pd',
 'new_pd',
 'bfs_code',
 'added_icds',
 'removed_icds',
 'added_chops',
 'removed_chops']

In [19]:
# add aimedic_id also in the output dataset, using COLS_TO_OUTPUT

df_revised_case_normalized_output = revised_case_normalized[COLS_TO_OUTPUT]
print(df_revised_case_normalized_output.shape)

df_revised_case_normalized_output.head()

(55, 15)

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,234703,0044164627,58D35DE98034237D,M,88,5,3,F34D,I723,I723,M200,[I341],[],[],[]
1,230910,0044134808,25AC80C8B5D88D22,M,61,4,3,F59F,T828,T828,M200,[E6682],[],[],[]
2,240439,0044212779,A56686572414BDAC,W,81,9,2,H41D,K8510,K8510,M100,[I5013],[],[],[]
3,228856,0044120153,25AC80C8B5D88D22,M,61,4,3,F34D,I7022,I7022,M200,[E6682],[],[],[]
4,229593,0044125350,0E25481D9EFB6C23,M,86,7,2,G46C,K254,K254,M100,[D6835],[],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [21]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized_output.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [22]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 55 out of 78 revised cases from DtoD that can be matched with the bfs database data for Hirslanden Zurich 2019

In [23]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_Zurich_2019.csv