# Revised case normalization for Hirslanden Aarau 2018

Notes:

- 17 of 17 revised DtoD cases were joined with the BFS cases from the DB.

In [1]:
import sys
sys.path.insert(0, '/home/jovyan/work')

from src.revised_case_normalization.py.global_configs import *
from src.revised_case_normalization.py.normalize import normalize
from src.revised_case_normalization.py.revise import revise
from src.revised_case_normalization.py.group import group

In [2]:
file_info = FileInfo(os.path.join(ROOT_DIR, 'raw_data/HI_Aarau_Birshof_ST. Anna.xlsx'),
                     'Hirslanden Aarau', '2018', 'Aarau 2018')

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI_Aarau_Birshof_ST. Anna.xlsx', hospital_name_db='Hirslanden Aarau', year='2018', sheet='Aarau 2018')

In [3]:
revised_cases_df = normalize(file_info)
revised_cases_df

2022-11-03 16:04:10.111 | INFO     | src.revised_case_normalization.py.normalize:normalize:35 - Read 17 cases for Hirslanden Aarau 2018
2022-11-03 16:04:10.115 | INFO     | src.revised_case_normalization.py.normalize:normalize:59 - TYPES:
tranche                   string
datum                     string
case_id                   object
patient_id                object
kkik                      string
gender                    string
age_years                  int64
bfs_code                  string
duration_of_stay           int64
pflegetage neu            string
pccl                       int64
pccl neu                  string
old_pd                    string
primary_diagnosis         string
added_icds                string
removed_icds              string
added_chops               string
removed_chops             string
drg                       string
drg neu                   string
cw alt                    string
cw neu                    string
cw-änderung möglich       string
cw-änderung akzeptiert    string
kommentar dtod            string
kodierer aarau            string
bemerkung aarau           string
kassenbeanstandung        string
case_id_norm              object
dtype: object
2022-11-03 16:04:10.121 | INFO     | src.utils.dataframe_utils:validate_icd_codes:68 - Validated ICD codes in 'added_icds' and stored them into 'added_icds': All rows contain valid codes
2022-11-03 16:04:10.123 | INFO     | src.utils.dataframe_utils:validate_icd_codes:68 - Validated ICD codes in 'removed_icds' and stored them into 'removed_icds': All rows contain valid codes
2022-11-03 16:04:10.125 | INFO     | src.utils.dataframe_utils:validate_chop_codes:106 - Validated CHOP codes in 'added_chops' and stored them into 'added_chops': All rows contain valid codes
2022-11-03 16:04:10.127 | INFO     | src.utils.dataframe_utils:validate_chop_codes:106 - Validated CHOP codes in 'removed_chops' and stored them into 'removed_chops': All rows contain valid codes
2022-11-03 16:04:10.127 | INFO     | src.utils.dataframe_utils:remove_duplicated_chops:32 - Removing duplicated CHOP codes due to different casing ...
2022-11-03 16:04:10.131 | INFO     | src.utils.dataframe_utils:validate_pd_revised_sd:158 - Validated redundant PD info in 'added_icds'/'removed_icds': All rows contain valid codes
2022-11-03 16:04:10.134 | SUCCESS  | src.revised_case_normalization.py.normalize:normalize:106 - Completed validation

       case_id  patient_id gender  age_years  duration_of_stay case_id_norm old_pd primary_diagnosis bfs_code  pccl   drg     added_icds removed_icds added_chops removed_chops
0   0041623461  0001059029      W         77                 2     41623461  I7024             I7024     M100     3  F59E        [J4481]      [J4483]          []            []
1   0041665678  0002043896      M         82                17     41665678  I5001             I5001     M100     3  F62C          [R18]           []          []            []
2   0041698586  0022177655      M         93                 2     41698586  I7024             I7024     M100     3  F59E         [I743]           []          []            []
3   0041719219  0001339311      M         91                 4     41719219   I495              I495     M100     3  F71B         [N182]           []          []            []
4     41777951  0022177655      M         93                 2     41777951  I7024             I7024     M100     0  F59E   [N184, T828]           []          []            []
5   0041648887  0001709901      M         64                 8     41648887  I5014             I5014     M100     3  F62C        [E1191]      [E1190]          []            []
6   0041709615  0001749027      W         58                 5     41709615   N390              N390     M100     3  L63D         [B370]           []          []            []
7   0041772407  0022190089      W         79                 9     41772407   N390              N390     M100     3  L63D         [E440]           []    [890A32]            []
8   0041769953  0022179314      M         70                 6     41769953  N1781             N1781     M100     3  L60D        [J9610]           []          []            []
9   0041803251  0001720953      M         51                 8     41803251   I208              I208     M200     3  F06D        [J9580]           []          []            []
10  0041806695  0010094333      M         65                12     41806695   D384              D384     M200     3  E05B  [I483, J9580]           []          []            []
11  0041817227  0001750180      M         76                 9     41817227   I350              I350     M200     3  F03D          [J91]           []          []            []
12  0041820204  0001662235      M         84                 5     41820204   N390              N390     M100     3  L63D        [E1191]      [E1190]          []            []
13  0041827376  0022197460      W         78                13     41827376  S2206             S2206     M100     3  I10B         [D689]           []          []            []
14  0041855716  0001152852      W         78                 1     41855716  I7022             I7022     M100     3  F59F         [D686]           []          []            []
15  0041896979  0022154384      W         80                 7     41896979  M4807             M4807     M200     3  I09C        [D6823]           []          []            []
16  0041912675  0010435827      M         84                18     41912675   C250              C250     M200     3  H01B         [F058]           []          []            []

# Match revised DtoD data with the BfS data from the database

In [4]:
cols_to_join = list(VALIDATION_COLS)
cols_to_join.remove(CASE_ID_COL)
cols_to_join.append(NORM_CASE_ID_COL)
# Ignore the patient ID in this dataset, because it is encrypted
cols_to_join.remove(PATIENT_ID_COL)

revised_cases, unmatched = revise(file_info, revised_cases_df, validation_cols=cols_to_join)
revised_cases

2022-11-03 16:04:10.534 | INFO     | src.service.bfs_cases_db_service:get_sociodemographics_for_hospital_year:154 - Read 10112 rows from the DB, for the hospital 'Hirslanden Aarau' in 2018

    aimedic_id     case_id primary_diagnosis                      secondary_diagnoses  primary_procedure                                                                               secondary_procedures gender  age_years  age_days  gestation_age  duration_of_stay  ventilation_hours grouper_admission_type admission_date  admission_weight grouper_discharge_type discharge_date
0       115875  0041623461             I7024   [I7020, Z9588, I1090, N184, N390, ...]  395014:R:20180111  [395011:R:20180111, 397510:R:20180111, 004C12::20180111, 005599:R:20180111, 0043:R:20180111, ...]      W         77         0              0                 2                  0                     01     2018-01-10                 0                     00     2018-01-12
1       116472  0041648887             I5014  [I5001, I2513, I2522, N184, I1320, ...]   99B712::20180117                                              [8945::20180117, 860A06:L:20180122, 948X40::20180122]      M         64         0              0                 8                  8                     01     2018-01-17                 0                     00     2018-01-25
2       116851  0041665678             I5001     [J91, I5013, I7020, L304, N185, ...]   887211::20180130                         [887963:B:20180130, 887964:B:20180130, 887975:B:20180130, 3491:R:20180201]      M         82         0              0                17                  0                     01     2018-01-30                 0                     00     2018-02-16
3       117722  0041698586             I7024                [Z9588, N184, Z922, I743]  395011:R:20180315  [397511:R:20180315, 395021:R:20180315, 397510:R:20180315, 0042::20180315, 004B18:R:20180315, ...]      M         93         0              0                 2                  0                     01     2018-03-15                 0                     00     2018-03-17
4       117999  0041709615              N390     [B965, R400, G3520, F446, Z936, ...]   992217::20180309                                                                                                 []      W         58         0              0                 5                  0                     01     2018-03-09                 0                     00     2018-03-14
5       118215  0041719219              I495    [I484, I480, I1090, I2519, I340, ...]   893909::20180317                                                                                                 []      M         91         0              0                 4                  0                     01     2018-03-17                 0                     00     2018-03-21
6       119991  0041769953             N1781   [Y579, I1100, I480, I5001, G2010, ...]   992909::20180519                                                                                                 []      M         70         0              0                 6                  0                     01     2018-05-19                 0                     00     2018-05-25
7       120078  0041772407              N390    [B962, A4158, R650, E1190, E788, ...]   992217::20180524                                                                                         [890A32::]      W         79         0              0                 9                  0                     01     2018-05-23                 0                     00     2018-06-01
8       120279    41777951             I7024          [Z9588, Z921, Z922, N184, T828]  395014:R:20180601   [004C12::20180601, 395011:R:20180601, 0043::20180601, 004B1A:R:20180601, 004B46:R:20180601, ...]      M         93         0              0                 2                  0                     01     2018-05-31                 0                     00     2018-06-02
9       121288  0041803251              I208        [I2513, D684, U6912, E788, J9580]   361226::20180705        [361121::20180705, 361122::20180705, 361C14::20180705, 3963::20180705, 3964::20180705, ...]      M         51         0              0                 8                  8                     01     2018-07-04                 0                     00     2018-07-12
10      121387  0041806695              D384      [J948, S2738, Y69, I480, Y849, ...]   343X23::20180712     [0782::20180712, 3223:L:20180712, 009A13::20180712, 044999:L:20180712, 040799:L:20180712, ...]      M         65         0              0                12                  0                     01     2018-07-11                 0                     00     2018-07-23
11      121768  0041817227              I350   [I2512, I1090, E788, F171, I7101, ...]   35F121::20180924        [361122::20180924, 361C11::20180924, 396111::20180924, 3963::20180924, 3964::20180924, ...]      M         76         0              0                 9                  8                     01     2018-09-23                 0                     00     2018-10-02
12      121893  0041820204              N390    [A418, R650, N182, I2519, I1090, ...]   992217::20180728                                                                                                 []      M         84         0              0                 5                  0                     01     2018-07-28                 0                     00     2018-08-02
13      122148  0041827376             S2206          [X599, E559, G2000, E538, D689]   816610::20180814                           [889714::20180810, 883840::20180810, 774920::20180814, 948X40::20180816]      W         78         0              0                13                  0                     01     2018-08-09                 0                     00     2018-08-22
14      123146  0041855716             I7022    [T828, Y828, I708, I1090, Z9588, ...]  395014:L:20180918   [004C12::20180918, 395011:L:20180918, 0041::20180918, 004B18:L:20180918, 004B45:L:20180918, ...]      W         78         0              0                 1                  0                     01     2018-09-18                 0                     00     2018-09-19
15      124638  0041896979             M4807    [G553, M511, G551, M4316, M4856, ...]     8108::20181207       [816310::20181207, 030936::20181207, 030991::20181207, 036::20181207, 785035::20181207, ...]      W         80         0              0                 7                  0                     01     2018-12-06                 0                     00     2018-12-13
16      125114  0041912675              C250     [C772, K831, I1090, N183, Z867, ...]   525110::20181203                                             [403X29::20181203, 009A13::20181203, 99B712::20181203]      M         84         0              0                18                  0                     01     2018-11-27                 0                     00     2018-12-15

In [5]:
if unmatched.shape[0] > 0:
    unmatched

In [6]:
from src.service.aimedic_grouper import group_batch_group_cases
from src.revised_case_normalization.py.group import format_for_grouper

format_for_grouper(revised_cases[revised_cases['case_id'] == '0041623461'])['batchgrouper_format'].values

array(['115875;41623461;77;0;;W;20180110;01;20180112;00;2;0;I7024|I7020|Z9588|I1090|N184|N390|B962|J4481;395014:R:20180111|395011:R:20180111|397510:R:20180111|004C12::20180111|005599:R:20180111|0043:R:20180111|004B18:R:20180111|004B1A:R:20180111|0046:R:20180111|393019:L:20180111;'],
      dtype=object)

In [7]:
revisions_update, diagnoses_update, procedures_update = group(revised_cases)

In [8]:

testCase = """1;116851;82;0;;M;20180130;01;20180216;00;17;0;I5001|J91|I5013|I7020|L304|N185|I480|I1100|E1120|N083|E790|N40|I340|I361|R600|L998|I351|I2728|N1789|Y579|R18;887211::|887963::|887964::|887975::|3491::;"""
df1, df2, df3 = group_batch_group_cases([testCase])
df1

   aimedic_id   drg  drg_cost_weight  effective_cost_weight  pccl revision_date
0           1  F62B              1.3                    1.3     4    2018-02-16

In [9]:
revisions_update

    aimedic_id   drg  drg_cost_weight  effective_cost_weight  pccl revision_date
0       115875  F59B             2.55                   1.50     4    2018-01-12
1       116472  F62B             1.30                   1.30     4    2018-01-25
2       116851  F62B             1.30                   1.30     4    2018-02-16
3       117722  F59B             2.55                   1.50     4    2018-03-17
4       117999  L63B             1.09                   1.09     4    2018-03-14
5       118215  F71A             1.12                   1.12     4    2018-03-21
6       119991  L60C             1.40                   1.40     4    2018-05-25
7       120078  L63B             1.09                   1.09     4    2018-06-01
8       120279  F59B             2.55                   1.50     4    2018-06-02
9       121288  F06C             3.84                   3.84     4    2018-07-12
10      121387  E05A             3.39                   3.39     4    2018-07-23
11      121768  F03C             4.90                   4.90     4    2018-10-02
12      121893  L63B             1.09                   1.09     4    2018-08-02
13      122148  I10A             2.66                   2.66     4    2018-08-22
14      123146  F59B             2.55                   0.97     4    2018-09-19
15      124638  I06C             3.90                   3.90     4    2018-12-13
16      125114  H01A             5.04                   5.04     4    2018-12-15

In [10]:
diagnoses_update

    aimedic_id   code  ccl  is_primary  is_grouper_relevant
0       115875  I7020    0       False                False
1       115875  Z9588    0       False                False
2       115875  I1090    0       False                False
3       115875   N184    3       False                False
4       115875   N390    0       False                False
..         ...    ...  ...         ...                  ...
163     125114   N183    2       False                False
164     125114   Z867    0       False                False
165     125114   Z921    0       False                False
166     125114   F058    2       False                False
167     125114   C250    0        True                 True

[168 rows x 5 columns]

In [11]:
procedures_update

    aimedic_id    code side        date  is_grouper_relevant  is_primary
0       115875  395014    R  2018-01-11                 True       False
1       115875  395011    R  2018-01-11                False       False
2       115875  397510    R  2018-01-11                False       False
3       115875  004C12       2018-01-11                False       False
4       115875  005599    R  2018-01-11                False       False
..         ...     ...  ...         ...                  ...         ...
103     124638  009940       2018-12-07                False       False
104     125114  525110       2018-12-03                 True       False
105     125114  403X29       2018-12-03                False       False
106     125114  009A13       2018-12-03                False       False
107     125114  99B712       2018-12-03                False       False

[108 rows x 6 columns]

In [12]:
procedures_update.to_csv("procedures_updates.csv", sep=";", escapechar="|")
procedures_update.dtypes

aimedic_id             object
code                   object
side                   object
date                   object
is_grouper_relevant      bool
is_primary               bool
dtype: object

In [13]:
import pandas as pd
procedures_update[procedures_update["date"] == None]

Empty DataFrame
Columns: [aimedic_id, code, side, date, is_grouper_relevant, ...]
Index: []

In [14]:
from  src.service.bfs_cases_db_service import insert_revised_case_into_diagonoses,insert_revised_case_into_procedures,insert_revised_case_into_revisions

In [15]:
aimedic_id_with_revision_id = insert_revised_case_into_revisions(revisions_update)
aimedic_id_with_revision_id

{115875: 579025,
 116472: 579026,
 116851: 579027,
 117722: 579028,
 117999: 579029,
 118215: 579030,
 119991: 579031,
 120078: 579032,
 120279: 579033,
 121288: 579034,
 121387: 579035,
 121768: 579036,
 121893: 579037,
 122148: 579038,
 123146: 579039,
 124638: 579040,
 125114: 579041}

In [ ]:
diagnoses_pk = insert_revised_case_into_diagonoses(diagnoses_update, aimedic_id_with_revision_id)
diagnoses_pk[0]

In [ ]:
procedures_pk = insert_revised_case_into_procedures(procedures_update, aimedic_id_with_revision_id)
procedures_pk[0]