# Revised case normalization for Hirslanden Salem 2017

Notes: 
- There is are no cases that can be matched with the bfs database without any modifications. The reason is that a case_id (e.g.`'41194601'`) in the revised cases from DtoD needs to be padded with '00' to match with a bfs case_id (e.g.'0041194601').

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
         os.path.join(ROOT_DIR, 'raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx'),
         'Hirslanden Salem',
         '2017',
         ['Änderungen_SA_2017'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx', hospital_name_db='Hirslanden Salem', year='2017', sheets=['Änderungen_SA_2017'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-17 13:37:42.469 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-17 13:37:42.469 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-17 13:37:42.470 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 43: discarded ICDs after validation {''}
2022-10-17 13:37:42.472 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 53: discarded ICDs after validation {''}
2022-10-17 13:37:42.475 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 0: discarded ICDs after validation {''}
2022-10-17 13:37:42.476 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-17 13:37:42.476 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-17 13:37:42.477 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 3: discarded ICDs after validation {''}
2022-10-17 13:37:42.478 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-17 13:37:42.479 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 5: discarded ICDs after validation {''}
2022-10-17 13:37:42.479 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-17 13:37:42.480 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-17 13:37:42.481 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-17 13:37:42.481 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-17 13:37:42.482 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 13: discarded ICDs after validation {''}
2022-10-17 13:37:42.483 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-17 13:37:42.483 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-17 13:37:42.484 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-17 13:37:42.485 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 19: discarded ICDs after validation {''}
2022-10-17 13:37:42.485 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 20: discarded ICDs after validation {''}
2022-10-17 13:37:42.486 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-17 13:37:42.487 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 13:37:42.487 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 23: discarded ICDs after validation {''}
2022-10-17 13:37:42.488 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-17 13:37:42.489 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 28: discarded ICDs after validation {''}
2022-10-17 13:37:42.490 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 30: discarded ICDs after validation {''}
2022-10-17 13:37:42.491 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}

Read 57 cases for Hirslanden Salem 2017
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-17 13:37:42.491 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 33: discarded ICDs after validation {''}
2022-10-17 13:37:42.492 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-17 13:37:42.493 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 35: discarded ICDs after validation {''}
2022-10-17 13:37:42.494 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 37: discarded ICDs after validation {''}
2022-10-17 13:37:42.494 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 38: discarded ICDs after validation {''}
2022-10-17 13:37:42.495 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-17 13:37:42.495 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 41: discarded ICDs after validation {''}
2022-10-17 13:37:42.496 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 43: discarded ICDs after validation {''}
2022-10-17 13:37:42.497 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 46: discarded ICDs after validation {''}
2022-10-17 13:37:42.498 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 47: discarded ICDs after validation {''}
2022-10-17 13:37:42.499 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 48: discarded ICDs after validation {''}
2022-10-17 13:37:42.499 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 49: discarded ICDs after validation {''}
2022-10-17 13:37:42.500 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 51: discarded ICDs after validation {''}
2022-10-17 13:37:42.501 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 52: discarded ICDs after validation {''}
2022-10-17 13:37:42.501 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 53: discarded ICDs after validation {''}
2022-10-17 13:37:42.502 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 55: discarded ICDs after validation {''}
2022-10-17 13:37:42.503 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 56: discarded ICDs after validation {''}
2022-10-17 13:37:42.505 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'948x40::20170128'}
2022-10-17 13:37:42.506 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'99b812::20170212'}
2022-10-17 13:37:42.507 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.508 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.508 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.509 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'99b813::20170117'}
2022-10-17 13:37:42.510 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.511 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.512 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.513 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {'835x11:R:20170427'}
2022-10-17 13:37:42.513 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.515 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.515 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {'99b811::20170519'}
2022-10-17 13:37:42.516 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.517 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.517 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.518 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.519 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {'948x40::20170621', '99b810::20170627'}
2022-10-17 13:37:42.520 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.520 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.521 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {'605x10::20170711', '403x23:B:20170711', '009a26:L:20170711'}
2022-10-17 13:37:42.522 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.523 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'862a2d:L:20170530', '862a1d:L:20170608', '86331d:L:20170602', '8688i6:L:20170530'}
2022-10-17 13:37:42.523 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.524 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {'99b810::20170710'}
2022-10-17 13:37:42.525 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.526 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'8526:R:20170201'}
2022-10-17 13:37:42.526 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.527 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.528 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.528 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.529 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.530 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {'570x99::20170916'}
2022-10-17 13:37:42.531 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.532 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {'009a26::20170217', '808511:R:20170215'}
2022-10-17 13:37:42.533 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.533 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.534 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.535 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {'004b1a:L:20171127'}
2022-10-17 13:37:42.536 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.536 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.537 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.538 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.538 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.540 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 45: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.540 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {'86531e:B:20170725', '86321e:B:20170731', '890a32::20170725'}
2022-10-17 13:37:42.541 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 47: discarded duplicated and invalid CHOP entries after validation {'862a1d:L:20170613'}
2022-10-17 13:37:42.542 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 48: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.543 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 49: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.544 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 50: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.545 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 51: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.545 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 52: discarded duplicated and invalid CHOP entries after validation {'890a32::20170818'}
2022-10-17 13:37:42.549 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 53: discarded duplicated and invalid CHOP entries after validation {'8311.807799'}
2022-10-17 13:37:42.549 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 54: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.550 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 55: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.551 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 56: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.553 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'948X40::20170128'}
2022-10-17 13:37:42.553 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'99B812::20170212'}
2022-10-17 13:37:42.554 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.554 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {'399521::20170304'}
2022-10-17 13:37:42.555 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.556 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'99B813::20170117'}
2022-10-17 13:37:42.557 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.558 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.558 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.559 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {'835X11:R:20170427'}
2022-10-17 13:37:42.560 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.560 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.561 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {'99B811::20170519'}
2022-10-17 13:37:42.562 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.562 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.563 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.564 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.565 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {'948X40::20170621', '99B810::20170627'}
2022-10-17 13:37:42.565 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.566 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {'009920::20170719'}
2022-10-17 13:37:42.567 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {'009A26:L:20170711', '605X10::20170711', '403X23:B:20170711'}
2022-10-17 13:37:42.568 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.569 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {'8688I6:L:20170530', '86331D:L:20170602', '862A2D:L:20170530', '862A1D:L:20170608'}
2022-10-17 13:37:42.570 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.570 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {'99B810::20170710'}
2022-10-17 13:37:42.571 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.572 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {'8521:R:20170201'}
2022-10-17 13:37:42.572 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.573 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.574 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.575 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.575 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.576 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {'570X99::20170916'}
2022-10-17 13:37:42.577 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.578 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {'808599:R:20170215', '009A26::20170217'}
2022-10-17 13:37:42.579 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.579 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.580 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.581 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {'004B1A:L:20171127'}
2022-10-17 13:37:42.581 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.582 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.584 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.584 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.585 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 43: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.586 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 13:37:42.586 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 45: discarded duplicated and invalid CHOP entries after validation {''}

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,41194601,8A6B7DE0296BEFB8,W,73,10,3,I09C,M4806,M4806,M200,[N183],[],[],[]
1,41248206,8DAB6117ADBB2AFE,M,84,8,3,I43B,M179,M179,M200,[I420],[],[],[]
2,41302785,5865672002F07F3F,W,97,13,3,F62C,I5001,I5001,M100,"[E876, A099]",[],[],[]
3,41304308,0CD7621F494A9140,M,36,3,3,L63D,N390,N390,M100,"[G8202, Q051]",[],[],[]
4,41237114,376800437C6F8D5B,M,78,7,3,I09D,M9963,M9963,M200,"[T842, F101]",[],[],[]
5,41253912,5E937981CA697D01,W,55,8,3,E77F,J181,J181,M100,[R650],[],[],[]
6,41255088,5491B8F1614701D0,M,70,7,3,E77F,J181,J181,M100,"[J4402, B952, B953, Z223]",[J4492],[],[]
7,41292119,E300D9957309095B,W,66,9,3,I76B,T7961,T7961,M100,"[E539, J4409]",[E538],[],[]
8,41338818,A5F45686FD659A16,M,76,6,3,E65C,J4402,J4402,M100,[K564],[],[],[]
9,41349287,D440E215C612652F,W,58,5,3,I27C,M751,M751,M200,[E1191],[E1190],[],[]
10,41364918,2378594580556700160,W,89,14,3,I10C,S3201,S3201,M200,[L8911],[],[],[]
11,41389850,7F23438CBA2B0884,W,51,6,3,I09C,M4806,M4806,M200,[T844],[],[],[]
12,41389983,4550DCBE31052FC6,M,87,5,3,G48B,K254,K254,M100,[D6833],[],[990A],[]
13,41375575,6482B95A717622C2,M,79,17,3,I46C,M161,M161,M200,[L8914],[],[],[]
14,41405774,D5F84CF68AC910FD,W,87,11,3,F62C,I5001,I5001,M100,"[B91, G832]",[],[],[]
15,41407198,F030201EC2676DBA,W,80,11,3,J62B,C504,C504,M100,[J4481],[J4499],[],[]
16,41417724,EF0D69ACB0CCD6D0,W,80,14,3,I10C,M8048,M8048,M100,[C343],[D381],[],[]
17,41422903,687A264ACE35A4E1,M,65,14,3,I09D,M511,M511,M100,[G802],[],[],[]
18,41429357,C1C05B1BCFACCEDA,W,39,8,3,N04A,N800,N800,M300,[J90],[],[],[]
19,41438489,92ECFBA1A0E31D14,W,73,12,3,I09D,M4802,M4802,M200,[T842],[],[],[]
20,41442434,ADD27A2E0FE18E64,M,67,5,3,M01B,C61,C61,M200,[C775],[],[],[]
21,41475362,DBCF91CC9A74A06A,M,50,13,3,I46C,M169,M169,M200,"[D651, M966, D62]",[],[],[]
22,41397953,F1835EF39A795A4D,M,68,10,3,K09B,E1074,E1074,M100,[B952],[],[],[]
23,41433914,268F4B2598CBBB08,M,84,5,3,M09B,C61,C61,M200,[D693],[],[],[]
24,41437552,AE452BCA0BF33A6F,M,76,10,3,I05B,M1921,M1921,M200,[N183],[N189],[],[]
25,41447097,6D2F828227361258,M,86,17,3,J64C,A46,A46,M100,"[N182, D686]",[N1889],[],[]
26,41230075,DCCEF5165C8D4983,W,70,2,2,J25Z,C509,C509,M300,[],[],[],[]
27,41506483,CA6AA91F86B88195,W,44,6,3,L09B,N12,N12,M100,[J90],[R091],[],[]
28,41506527,C44C6C7274D35EF1,M,94,9,3,E75C,J22,J22,M100,[J941],[],[],[]
29,41506722,86C4615F740EBB9E,W,87,15,3,I08D,S7210,S7210,M200,"[E871, L8918]",[E870],[],[]
30,41529453,DA37BED2B2FDF5A3,W,54,8,3,G48B,K920,K920,M100,[B370],[],[],[]
31,41456079,B2D8952192F4652D,W,80,14,3,I46C,S7201,S7201,M100,"[E1191, D508]","[E1190, D649]",[],[]
32,41470794,1DF15466B7B3AB92,M,77,4,3,L18B,C675,C675,M200,"[D6959, N133]",[],[],[]
33,41487802,5DCCF9FAF90821F4,M,85,5,3,E65C,J4411,J4411,M100,"[I5001, J91]",[],[],[]
34,41271168,6163BF4276F04CA4,W,35,4,3,I21C,M2485,M2485,M200,[],[],[807510],[]
35,41300833,D926214AA6D49891,W,70,9,2,I09C,M4156,M4156,M200,[D62],[],[],[]
36,41418204,EA60E0495FE2B904,M,82,14,3,E75C,J22,J22,M100,"[E1191, N183]","[E1190, N189]",[],[]
37,41420840,4FD6714CDE2F17BB,M,59,3,2,L64B,N201,N201,M100,[E211],[],[],[]
38,41579881,9F486F6445BEA2F0,M,57,2,3,F54Z,I7024,I7024,M100,[I743],[],[],[]
39,41581364,973A6918EE09AEAE,W,86,13,3,E77F,J181,J181,M100,"[J4403, D684]",[J458],[],[]
40,41608546,10553A6D7A39FBD7,M,84,3,3,F62C,I5019,I5019,M100,[],[],[],[]
41,41367724,B0EC30C3D936A977,W,94,17,3,I46C,S7210,S7210,M200,[L8917],[],[],[]
42,41451537,F030201EC2676DBA,W,80,4,3,J23Z,C504,C504,M300,"[J4481, J9610]","[J4490, J9619]",[],[]
43,41464045,D1E4D008946575EE,W,24,2,2,I27D,M6587,M6587,M200,[],[],[807899],[]
44,41490828,5603A6542AC165AB,W,80,17,3,B72C,B020,B020,M100,"[E1191, G9129]",[E1190],[],[]
45,41597280,3A7A9561DB6F52DA,M,66,6,3,I05B,S4220,S4220,M100,[D62],[D648],[],[]
46,41400942,379D8A70A25BD0BA,M,80,23,3,I10C,M9943,M9943,M100,[D6833],[],[],[]
47,41409001,A62E1268B65E6AF8,W,77,8,0,I12C,T846,T846,M200,[M8617],[],[],[]
48,41443673,F8C5FFA4EF5FDB2F,W,69,10,2,I09E,M511,M511,M200,"[J4419, J952]",[],[],[]
49,41452311,04A64D9704687EEE,W,83,4,2,F62C,I5001,I5001,M100,"[J9600, I352]",[],[],[]
50,41486224,8C6258848A87F499,M,68,9,2,L63E,N10,N10,M100,[U804],[U81],[],[]
51,41577457,653C02FB9845E005,M,89,8,1,L63E,N10,N10,M100,"[L984, U804]",[],[],[]
52,41478672,1A053DBB3716D697,W,94,6,2,K60F,E1161,E1161,M100,[E440],[],[],[]
53,41502799,05E2BBE56D90814B,M,58,4,2,I27D,M6637,M6637,M200,[],[],[],[]
54,41510657,AA7BB70FD15BB323,M,89,13,3,I46C,M169,M169,M200,"[N183, F018]","[N1889, F03]",[],[]
55,41495658,B0B14321953D6095,W,31,2,3,O40A,O030,O030,M300,"[O081, D62]",[],[],[]
56,41532546,1A67125AE429CC84,M,70,9,3,L04C,N130,N130,M200,[U804],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['41194601', '41248206', '41302785', '41304308', '41237114',
       '41253912', '41255088', '41292119', '41338818', '41349287',
       '41364918', '41389850', '41389983', '41375575', '41405774',
       '41407198', '41417724', '41422903', '41429357', '41438489',
       '41442434', '41475362', '41397953', '41433914', '41437552',
       '41447097', '41230075', '41506483', '41506527', '41506722',
       '41529453', '41456079', '41470794', '41487802', '41271168',
       '41300833', '41418204', '41420840', '41579881', '41581364',
       '41608546', '41367724', '41451537', '41464045', '41490828',
       '41597280', '41400942', '41409001', '41443673', '41452311',
       '41486224', '41577457', '41478672', '41502799', '41510657',
       '41495658', '41532546'], dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

In [7]:
# change the case_id the same format as bfs data e.g. '0041194601' 
# revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
# revised_case_id_pad0[0]
# df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [8]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(revised_case_id_stripped)
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,2.801,23138,3,0041194601,8A6B7DE0296BEFB8,73,0,W,10,4,0,0,0,2017-01-18,01,2017-01-28,00,I09C,I09,3
0,1.965,24109,3,0041248206,8DAB6117ADBB2AFE,84,0,M,8,4,0,0,0,2017-02-08,01,2017-02-16,00,I43B,I43,3
0,0.883,25590,3,0041302785,5865672002F07F3F,97,0,W,13,3,0,0,0,2017-02-28,01,2017-03-13,00,F62C,F62,3
0,0.669,25618,3,0041304308,0CD7621F494A9140,36,0,M,3,3,0,0,0,2017-03-01,01,2017-03-04,00,L63D,L63,3
0,2.578,23920,3,0041237114,376800437C6F8D5B,78,0,M,7,4,0,0,0,2017-01-10,01,2017-01-17,00,I09D,I09,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,2.801,23138,3,0041194601,8A6B7DE0296BEFB8,73,0,W,10,4,...,0,0,2017-01-18,01,2017-01-28,00,I09C,I09,3,41194601
0,1.965,24109,3,0041248206,8DAB6117ADBB2AFE,84,0,M,8,4,...,0,0,2017-02-08,01,2017-02-16,00,I43B,I43,3,41248206
0,0.883,25590,3,0041302785,5865672002F07F3F,97,0,W,13,3,...,0,0,2017-02-28,01,2017-03-13,00,F62C,F62,3,41302785
0,0.669,25618,3,0041304308,0CD7621F494A9140,36,0,M,3,3,...,0,0,2017-03-01,01,2017-03-04,00,L63D,L63,3,41304308
0,2.578,23920,3,0041237114,376800437C6F8D5B,78,0,M,7,4,...,0,0,2017-01-10,01,2017-01-17,00,I09D,I09,3,41237114

In [10]:
df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped
0,41194601,8A6B7DE0296BEFB8,W,73,10,3,I09C,M4806,M4806,M200,[N183],[],[],[],41194601
1,41248206,8DAB6117ADBB2AFE,M,84,8,3,I43B,M179,M179,M200,[I420],[],[],[],41248206
2,41302785,5865672002F07F3F,W,97,13,3,F62C,I5001,I5001,M100,"[E876, A099]",[],[],[],41302785
3,41304308,0CD7621F494A9140,M,36,3,3,L63D,N390,N390,M100,"[G8202, Q051]",[],[],[],41304308
4,41237114,376800437C6F8D5B,M,78,7,3,I09D,M9963,M9963,M200,"[T842, F101]",[],[],[],41237114

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [11]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'], suffixes=None)
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(57, 28)

/tmp/ipykernel_11014/3233428173.py:4: FutureWarning: Passing 'suffixes' as a <class 'NoneType'>, is not supported and may give unexpected results. Provide 'suffixes' as a tuple instead. In the future a 'TypeError' will be raised.
  revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'], suffixes=None)

,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped,gender,age_years,...,age_days,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,adrg
0,M4806,M4806,M200,[N183],[],[],[],41194601,W,73,...,0,4,0,0,0,2017-01-18,01,2017-01-28,00,I09
1,M179,M179,M200,[I420],[],[],[],41248206,M,84,...,0,4,0,0,0,2017-02-08,01,2017-02-16,00,I43
2,I5001,I5001,M100,"[E876, A099]",[],[],[],41302785,W,97,...,0,3,0,0,0,2017-02-28,01,2017-03-13,00,F62
3,N390,N390,M100,"[G8202, Q051]",[],[],[],41304308,M,36,...,0,3,0,0,0,2017-03-01,01,2017-03-04,00,L63
4,M9963,M9963,M200,"[T842, F101]",[],[],[],41237114,M,78,...,0,4,0,0,0,2017-01-10,01,2017-01-17,00,I09

In [12]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_SELECT]
df_revised_case_normalized.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0041194601,8A6B7DE0296BEFB8,W,73,10,3,I09C,M4806,M4806,M200,[N183],[],[],[]
1,0041248206,8DAB6117ADBB2AFE,M,84,8,3,I43B,M179,M179,M200,[I420],[],[],[]
2,0041302785,5865672002F07F3F,W,97,13,3,F62C,I5001,I5001,M100,"[E876, A099]",[],[],[]
3,0041304308,0CD7621F494A9140,M,36,3,3,L63D,N390,N390,M100,"[G8202, Q051]",[],[],[]
4,0041237114,376800437C6F8D5B,M,78,7,3,I09D,M9963,M9963,M200,"[T842, F101]",[],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [13]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [14]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for USZ 2019' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for USZ 2019' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 57 out of 57 revised cases from DtoD that can be matched with the bfs database data for USZ 2019

In [15]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_Salem_2017.csv