# Revised case normalization for KSSG Toggenburg 2019

Notes:

- All cases (28 of 28) could be matched between the revised cases from DtoD and the BFS DB data of KSSG 2021.

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
         os.path.join(ROOT_DIR, 'raw_data/Linth_Toggenburg_SRRWS_2019.xlsx'),
         'KSSG Toggenburg',
         '2019',
         ['Änderungen_Toggenburg_2019'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/Linth_Toggenburg_SRRWS_2019.xlsx', hospital_name_db='KSSG Toggenburg', year='2019', sheets=['Änderungen_Toggenburg_2019'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-17 15:33:41.223 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-17 15:33:41.224 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 15:33:41.225 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 0: discarded ICDs after validation {''}
2022-10-17 15:33:41.226 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-17 15:33:41.227 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-17 15:33:41.228 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-17 15:33:41.229 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 9: discarded ICDs after validation {''}
2022-10-17 15:33:41.229 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-17 15:33:41.230 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-17 15:33:41.230 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 13: discarded ICDs after validation {''}
2022-10-17 15:33:41.231 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-17 15:33:41.231 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 15: discarded ICDs after validation {''}
2022-10-17 15:33:41.232 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-17 15:33:41.233 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-17 15:33:41.234 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 15:33:41.234 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 24: discarded ICDs after validation {''}
2022-10-17 15:33:41.235 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-17 15:33:41.235 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 27: discarded ICDs after validation {''}
2022-10-17 15:33:41.237 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.238 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.239 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.239 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.240 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.241 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.241 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.242 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.243 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.243 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.244 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.244 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.245 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.245 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.246 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.247 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.248 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.248 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.249 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {'890a32::20190606'}
2022-10-17 15:33:41.250 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.250 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.251 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.252 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.252 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.253 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.254 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.254 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.254 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}

Read 28 cases for KSSG Toggenburg 2019
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-17 15:33:41.257 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.258 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.258 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.259 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.260 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.261 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.261 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.262 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.263 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.264 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.265 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.265 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.266 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.267 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.267 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.268 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.269 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.269 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.270 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.271 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.271 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.272 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.272 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.273 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.274 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.274 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.274 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.275 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:33:41.279 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 3, primary diagnosis was changed from K5732 to K5722
2022-10-17 15:33:41.280 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 15, primary diagnosis was changed from N390 to A4151
2022-10-17 15:33:41.281 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 21, primary diagnosis was changed from I1191 to D508
2022-10-17 15:33:41.282 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 22, primary diagnosis was changed from J209 to E272

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,4408298963,3FEA1A97AEC65660,W,78,6,2,I68E,S2206,S2206,M100,[I652],[],[],[]
1,4450072153,81D216BDF5F6A401,M,78,9,3,G07Z,C20,C20,M200,[K921],[],[],[]
2,4408295683,63DA4A8CA1E4B8E4,M,69,15,3,F13C,E1175,E1175,M200,[M8607],[M8687],[],[]
3,4408299930,F5DECA545F5CCA09,W,83,13,3,G17Z,K5722,K5722,M200,[E870],[],[],[]
4,4408313061,0B77F24272929EBB,M,59,9,3,H09C,K8510,K8510,M200,[K8040],[K819],[],[]
5,4408290225,0FCD4AF3123CA5C9,M,61,5,3,F62C,I5001,I5001,M100,[I1320],[I1100],[],[]
6,4408299655,D061782A8F126EA6,W,74,8,3,G18B,K565,K565,M200,[K659],[],[],[]
7,4408294065,3D610E9AB286FE67,W,71,10,3,B76E,G401,G401,M900,"[F331, F132]",[F321],[],[]
8,4408296873,42BD198A0FF56C79,M,41,16,3,H41C,K8030,K8030,M100,"[J91, R18, T8581]",[],[],[]
9,4408300426,12FDDF685A93B515,W,72,7,3,I46D,S7200,S7200,M200,[T8404],[],[],[]
10,4408309452,FE409AFBBC1BFA08,M,67,8,3,F60B,I211,I211,M100,"[J4409, J9600]",[J4499],[],[]
11,4408313863,22B85F96B9D47CF4,M,55,8,3,G19B,K265,K265,M200,[T855],[],[],[]
12,4450069712,BA9D1018AB714993,M,75,6,3,M02B,N40,N40,M200,[N412],[],[],[]
13,4408288172,C783459AA87181DB,M,84,6,2,F72B,I481,I481,M100,[J91],[],[],[]
14,4408288632,FE6285F488AB1D73,M,78,6,3,G72C,K590,K590,M100,"[J4481, F058]",[],[],[]
15,4408309949,C388617C66C0794C,M,79,3,2,L63E,A4151,A4151,M100,[],[],[],[]
16,4408308749,BDA7AD46FD926C17,W,72,2,3,X62B,T810,T810,M100,"[J91, C349, F102]","[J90, D381]",[],[]
17,4408291185,7273BEEA751CDBD5,W,88,8,2,E77F,J181,J181,M100,"[K521, R15]",[],[],[]
18,4408300943,C83A8878DCDB8306,W,76,8,0,E77F,J181,J181,M900,[E440],[E46],[],[]
19,4408305935,66202C41AA5154F1,M,66,7,3,T60F,A418,A418,M100,"[D693, J9600]",[D6961],[],[]
20,4450066769,233BF8630A6C89F3,M,52,6,2,E77F,J181,J181,M100,[J4409],[J4499],[],[]
21,4408315954,7603D8C3B248647D,W,85,9,3,F67B,D508,D508,M900,[],[],[],[]
22,4408291872,E3855FA45E63A196,M,59,2,3,E69C,E272,E272,M100,[],[],[],[]
23,4408296278,5E4401AED6216E5F,M,76,8,3,E69C,J459,J459,M100,[E1191],[E1190],[],[]
24,4408301545,6E734535F3FA2293,M,57,9,3,F13C,E1174,E1174,M100,[L0311],[],[],[]
25,4408308593,34F9BAA5A130246D,W,84,5,3,Q61B,D500,D500,M100,"[I1320, I4288]",[I1100],[],[]
26,4408295558,AC8F16E722E61912,M,76,5,0,L63E,N300,N300,M100,[I650],[],[],[]
27,4408312516,73856AC2E86AC577,M,83,4,2,I75C,M702,M702,M100,[S2242],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['4408298963', '4450072153', '4408295683', '4408299930',
       '4408313061', '4408290225', '4408299655', '4408294065',
       '4408296873', '4408300426', '4408309452', '4408313863',
       '4450069712', '4408288172', '4408288632', '4408309949',
       '4408308749', '4408291185', '4408300943', '4408305935',
       '4450066769', '4408315954', '4408291872', '4408296278',
       '4408301545', '4408308593', '4408295558', '4408312516'],
      dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

In [7]:
# change the case_id the same format as bfs data e.g. '0041194601' 
# revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
# revised_case_id_pad0[0]
# df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [8]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(revised_case_id_stripped)
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,0.563,247564,9,4408298963,3FEA1A97AEC65660,78,0,W,6,3,0,0,0,2019-05-11,01,2019-05-17,00,I68E,I68,2
0,0.984,242709,9,4450072153,81D216BDF5F6A401,78,0,M,9,4,0,0,0,2019-11-06,01,2019-11-15,06,G07Z,G07,3
0,1.494,247319,9,4408295683,63DA4A8CA1E4B8E4,69,0,M,15,4,0,0,0,2019-04-01,01,2019-04-16,00,F13C,F13,3
0,2.211,248446,9,4408299930,F5DECA545F5CCA09,83,0,W,13,4,0,0,0,2019-05-22,01,2019-06-04,00,G17Z,G17,3
0,1.224,247920,9,4408313061,0B77F24272929EBB,59,0,M,9,4,0,0,0,2019-10-23,01,2019-11-01,00,H09C,H09,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,0.563,247564,9,4408298963,3FEA1A97AEC65660,78,0,W,6,3,...,0,0,2019-05-11,01,2019-05-17,00,I68E,I68,2,4408298963
0,0.984,242709,9,4450072153,81D216BDF5F6A401,78,0,M,9,4,...,0,0,2019-11-06,01,2019-11-15,06,G07Z,G07,3,4450072153
0,1.494,247319,9,4408295683,63DA4A8CA1E4B8E4,69,0,M,15,4,...,0,0,2019-04-01,01,2019-04-16,00,F13C,F13,3,4408295683
0,2.211,248446,9,4408299930,F5DECA545F5CCA09,83,0,W,13,4,...,0,0,2019-05-22,01,2019-06-04,00,G17Z,G17,3,4408299930
0,1.224,247920,9,4408313061,0B77F24272929EBB,59,0,M,9,4,...,0,0,2019-10-23,01,2019-11-01,00,H09C,H09,3,4408313061

In [10]:
df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped
0,4408298963,3FEA1A97AEC65660,W,78,6,2,I68E,S2206,S2206,M100,[I652],[],[],[],4408298963
1,4450072153,81D216BDF5F6A401,M,78,9,3,G07Z,C20,C20,M200,[K921],[],[],[],4450072153
2,4408295683,63DA4A8CA1E4B8E4,M,69,15,3,F13C,E1175,E1175,M200,[M8607],[M8687],[],[],4408295683
3,4408299930,F5DECA545F5CCA09,W,83,13,3,G17Z,K5722,K5722,M200,[E870],[],[],[],4408299930
4,4408313061,0B77F24272929EBB,M,59,9,3,H09C,K8510,K8510,M200,[K8040],[K819],[],[],4408313061

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [11]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(28, 28)

,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped,gender,age_years,...,age_days,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,adrg
0,S2206,S2206,M100,[I652],[],[],[],4408298963,W,78,...,0,3,0,0,0,2019-05-11,01,2019-05-17,00,I68
1,C20,C20,M200,[K921],[],[],[],4450072153,M,78,...,0,4,0,0,0,2019-11-06,01,2019-11-15,06,G07
2,E1175,E1175,M200,[M8607],[M8687],[],[],4408295683,M,69,...,0,4,0,0,0,2019-04-01,01,2019-04-16,00,F13
3,K5722,K5722,M200,[E870],[],[],[],4408299930,W,83,...,0,4,0,0,0,2019-05-22,01,2019-06-04,00,G17
4,K8510,K8510,M200,[K8040],[K819],[],[],4408313061,M,59,...,0,4,0,0,0,2019-10-23,01,2019-11-01,00,H09

In [12]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_SELECT]
df_revised_case_normalized.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,4408298963,3FEA1A97AEC65660,W,78,6,2,I68E,S2206,S2206,M100,[I652],[],[],[]
1,4450072153,81D216BDF5F6A401,M,78,9,3,G07Z,C20,C20,M200,[K921],[],[],[]
2,4408295683,63DA4A8CA1E4B8E4,M,69,15,3,F13C,E1175,E1175,M200,[M8607],[M8687],[],[]
3,4408299930,F5DECA545F5CCA09,W,83,13,3,G17Z,K5722,K5722,M200,[E870],[],[],[]
4,4408313061,0B77F24272929EBB,M,59,9,3,H09C,K8510,K8510,M200,[K8040],[K819],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [13]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [14]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 28 out of 28 revised cases from DtoD that can be matched with the bfs database data for KSSG Toggenburg 2019

In [15]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/KSSG_Toggenburg_2019.csv