# Revised case normalization for KSSG SRRWS 2019

Notes:

- 47 of 48 cases could be matched between the revised cases from DtoD and the BFS DB data of KSSG SRRWS.

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
         os.path.join(ROOT_DIR, 'raw_data/Linth_Toggenburg_SRRWS_2019.xlsx'),
         'KSSG SRRWS',
         '2019',
         ['Änderungen SRRWS_2019'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/Linth_Toggenburg_SRRWS_2019.xlsx', hospital_name_db='KSSG SRRWS', year='2019', sheets=['Änderungen SRRWS_2019'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-17 15:35:15.708 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-17 15:35:15.708 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-17 15:35:15.709 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 5: discarded ICDs after validation {''}
2022-10-17 15:35:15.709 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-17 15:35:15.710 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 7: discarded ICDs after validation {''}
2022-10-17 15:35:15.710 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-17 15:35:15.711 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-17 15:35:15.712 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-17 15:35:15.712 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-17 15:35:15.713 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 15: discarded ICDs after validation {''}
2022-10-17 15:35:15.713 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-17 15:35:15.714 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-17 15:35:15.715 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 19: discarded ICDs after validation {''}
2022-10-17 15:35:15.715 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-17 15:35:15.716 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-17 15:35:15.717 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 23: discarded ICDs after validation {''}
2022-10-17 15:35:15.717 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 24: discarded ICDs after validation {''}
2022-10-17 15:35:15.718 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 25: discarded ICDs after validation {''}
2022-10-17 15:35:15.719 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 28: discarded ICDs after validation {''}
2022-10-17 15:35:15.720 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 29: discarded ICDs after validation {''}
2022-10-17 15:35:15.720 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 30: discarded ICDs after validation {''}
2022-10-17 15:35:15.721 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 31: discarded ICDs after validation {''}
2022-10-17 15:35:15.722 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}
2022-10-17 15:35:15.723 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-17 15:35:15.723 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 35: discarded ICDs after validation {''}
2022-10-17 15:35:15.724 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 37: discarded ICDs after validation {''}
2022-10-17 15:35:15.725 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-17 15:35:15.726 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 41: discarded ICDs after validation {''}
2022-10-17 15:35:15.727 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 42: discarded ICDs after validation {''}
2022-10-17 15:35:15.727 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 43: discarded ICDs after validation {''}
2022-10-17 15:35:15.728 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 44: discarded ICDs after validation {''}
2022-10-17 15:35:15.729 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 45: discarded ICDs after validation {''}
2022-10-17 15:35:15.731 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.732 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.732 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.733 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.734 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.734 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.735 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.735 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.736 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.736 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.737 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}

Read 48 cases for KSSG SRRWS 2019
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-17 15:35:15.737 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.739 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.740 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.740 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.741 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.742 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.742 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.743 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {'99b712::20190328'}
2022-10-17 15:35:15.744 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.744 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.745 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.746 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.746 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.747 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.748 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.749 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.749 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.750 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.750 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.751 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.751 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.752 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.752 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.753 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.754 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.755 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.755 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.756 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.756 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.757 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.758 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 43: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.758 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.759 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 45: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.760 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.760 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 47: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.763 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.763 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.764 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.765 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.766 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.766 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.767 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.767 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.767 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.768 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.768 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.769 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.770 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.771 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.771 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.772 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.773 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.773 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.774 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.775 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {'99B712::20190328'}
2022-10-17 15:35:15.775 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.776 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.777 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.777 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.778 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.778 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.779 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.780 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 27: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.780 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.781 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.781 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.782 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.782 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.783 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 33: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.783 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.784 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.784 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.785 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.785 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.786 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.786 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.787 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.787 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.788 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 43: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.789 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.790 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 45: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.791 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.791 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 47: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-17 15:35:15.797 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 22, primary diagnosis was changed from D7014 to K521

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,2010216467,971401A627916522,W,67,16,2,I27D,M7285,M7285,M200,"[D62, L0311]",[D648],[],[]
1,2010230894,0FD7D457C22B4ECD,M,75,10,3,X06B,S510,S510,M100,[R18],[],[],[]
2,2010233003,D6D96CE0A68739FB,W,70,14,3,G21B,K432,K432,M200,[D62],[D649],[],[]
3,2010234179,FB8869E03D85B3F5,M,59,7,3,H62B,K868,K868,M100,[I5014],[I509],[],[]
4,2070263179,A8239CB0553D4656,W,79,8,3,F12D,I441,I441,M100,[J9580],[],[],[]
5,2010220228,0684D4B0A48A69C8,M,60,14,3,G18B,D120,D120,M200,"[K650, K358]",[],[],[]
6,2010228707,51AA6AD90E4E760A,W,58,8,3,G18B,K5722,K5722,M200,[D6988],[],[],[]
7,2010229560,D070499746D5BD08,M,52,11,3,G18B,K500,K500,M200,[D6988],[],[],[]
8,2010230678,0B867D70DE4BD6E0,M,77,18,3,G18B,D122,D122,M200,"[K913, D6988]",[],[990A],[]
9,2070282416,C59CE74D4CD08931,W,77,8,3,G18B,K565,K565,M200,[S3681],[S3640],[],[]
10,2070287841,97A4D5E3E827EE96,W,49,5,2,J11B,L024,L024,M100,[L0311],[],[],[]
11,2070284708,1D8439381B45FD03,M,70,9,2,G46C,K254,K254,M100,[G2090],[],[],[]
12,2010234918,A0DB1B9BCC5B0615,M,77,8,3,I46D,M161,M161,M200,"[D6834, D6833]",[],[],[]
13,2010234948,3A768F8A51B06EA6,W,54,42,3,G18B,K510,K510,M200,[E43],[E46],[],[]
14,2070285115,3B75D0145FB0B144,W,69,10,3,B76E,G408,G408,M100,"[I1100, S065, I509, F102]",[I1190],[],[]
15,2010227097,4E19726BAB01A53B,M,85,8,2,M09B,C61,C61,M200,[E440],[],[],[]
16,2010230191,7B355C7E29B0B033,M,76,5,2,L63E,N390,N390,M100,"[E1191, A419]",[E1190],[],[]
17,2010231388,FFA62DBF2227A70C,M,66,9,3,L18B,C670,C670,M200,[Z944],[],[],[]
18,2070264552,6E90C30F523A1208,M,71,4,3,H60C,K746,K746,M100,[R18],[],[],[]
19,2010222584,9D89A7BC63AC87E8,M,26,7,3,Q01Z,S3603,S3603,M200,[R571],[],[],[]
20,2010224862,3852DFAFF41F845D,W,72,8,2,L63E,N390,N390,M100,[E1191],[E1190],[],[]
21,2010231874,50052ADCB29F84AD,W,79,7,2,N06B,N812,N812,M300,"[I693, R470]",[],[],[]
22,2010236987,AB5411F628EA7ECC,M,73,14,3,R61D,K521,K521,M100,[],[],[],[]
23,2010238492,4C65899EC62ECF53,W,82,5,3,F62C,I5001,I5001,M100,[I219],[],[],[]
24,2010242300,0B8F669970C7C2C1,W,86,3,0,L63E,N111,N111,M300,"[F051, F018, E871]",[],[],[]
25,2070268669,859EEFBBB9E46BA1,M,81,9,2,L63E,N390,N390,M100,[U8120],[],[],[]
26,2010220656,3EB7CE71A578B8BE,W,83,4,2,F72B,I483,I483,M100,[I1100],[I1190],[],[]
27,2010227288,75F8988C49F7DB47,W,78,10,3,F62C,I5001,I5001,M100,[I832],[I831],[],[]
28,2070265027,2884A07656CD9535,M,44,13,3,I68B,S321,S321,M200,"[S334, B181]",[],[846],[]
29,2010222118,2BBE3CD853D9F2CD,M,38,9,3,K60D,E1011,E1011,M100,"[K290, J91]",[],[],[]
30,2010225191,9F43159F4CF0878F,M,48,7,2,E77F,J188,J188,M100,[J9600],[],[],[]
31,2010229750,11E0A2EA91408B10,W,90,6,3,F73B,R55,R55,M100,[I652],[],[],[]
32,2010231195,64950B11579ACE92,W,72,3,3,G67C,A099,A099,M100,[E274],[],[],[]
33,2010231435,3E31E5A375B92EFF,M,84,8,3,E65C,J4409,J4409,M100,[D508],[E611],[],[]
34,2070273678,EE6810523C53237D,M,66,4,2,L63E,N390,N390,M100,[D689],[],[],[]
35,2010234290,DDAF3CF96DEF397D,M,67,15,3,B66C,C712,C712,M100,[J690],[],[],[]
36,2010237009,8FC9C84827AE0C42,M,55,8,3,H62B,K8580,K8580,M100,"[I81, R18]",[I8280],[],[]
37,2070264374,859EEFBBB9E46BA1,M,81,9,2,L63E,N390,N390,M100,[U8120],[],[],[]
38,2070267501,6DA876FC29B42669,W,66,12,3,T60F,A419,A419,M100,[N1793],[N1791],[],[]
39,2070290212,8FF14F066D390073,M,71,19,3,G48C,K260,K260,M100,"[I5013, C9110, G8219]",[I509],[],[]
40,2070280035,AF618AC5BCD8C537,W,81,3,2,F72B,I489,I489,M100,[J91],[],[],[]
41,2010217844,4E884A43EE05202E,W,50,7,0,N04A,N813,N813,M300,[D62],[],[],[]
42,2010221707,29E59C19E0C812A5,M,85,3,3,F62C,I509,I509,M100,[R18],[],[],[]
43,2010222228,532872EDEBCDBBC2,W,59,7,3,E65B,J4400,J4400,M100,[J91],[],[],[]
44,2010231467,7E3F1E64408C3F6D,M,81,10,3,G67A,K262,K262,M200,[F102],[],[],[]
45,2010236020,9727AFAA089E80C2,W,31,8,3,O01F,O240,O240,M300,[O990],[],[],[]
46,2070280704,407B592104BEF96A,W,38,8,3,O01F,O610,O610,M300,[D62],[D648],[],[]
47,2070288570,0294826049084B8B,M,59,9,3,J64C,A46,A46,M100,[F102],[F101],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['2010216467', '2010230894', '2010233003', '2010234179',
       '2070263179', '2010220228', '2010228707', '2010229560',
       '2010230678', '2070282416', '2070287841', '2070284708',
       '2010234918', '2010234948', '2070285115', '2010227097',
       '2010230191', '2010231388', '2070264552', '2010222584',
       '2010224862', '2010231874', '2010236987', '2010238492',
       '2010242300', '2070268669', '2010220656', '2010227288',
       '2070265027', '2010222118', '2010225191', '2010229750',
       '2010231195', '2010231435', '2070273678', '2010234290',
       '2010237009', '2070264374', '2070267501', '2070290212',
       '2070280035', '2010217844', '2010221707', '2010222228',
       '2010231467', '2010236020', '2070280704', '2070288570'],
      dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

In [7]:
# change the case_id the same format as bfs data e.g. '0041194601' 
# revised_case_id_pad0 = [case_id.zfill(10) for case_id in revised_case_id]
# revised_case_id_pad0[0]
# df_revised_case_d2d['case_id'] = revised_case_id_pad0

In [8]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(revised_case_id_stripped)
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,0.706,294901,10,2010216467,971401A627916522,67,0,W,16,4,0,0,0,2019-01-18,01,2019-02-03,00,I27D,I27,2
0,1.179,297364,10,2010230894,0FD7D457C22B4ECD,75,0,M,10,3,0,0,0,2019-07-26,01,2019-08-05,00,X06B,X06,3
0,1.320,305468,10,2010233003,D6D96CE0A68739FB,70,0,W,14,4,0,0,0,2019-09-10,01,2019-09-24,00,G21B,G21,3
0,0.633,297669,10,2010234179,FB8869E03D85B3F5,59,0,M,7,3,0,0,0,2019-09-09,01,2019-09-16,00,H62B,H62,3
0,1.901,294867,10,2070263179,A8239CB0553D4656,79,0,W,8,3,0,0,0,2019-01-14,01,2019-01-22,00,F12D,F12,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,0.706,294901,10,2010216467,971401A627916522,67,0,W,16,4,...,0,0,2019-01-18,01,2019-02-03,00,I27D,I27,2,2010216467
0,1.179,297364,10,2010230894,0FD7D457C22B4ECD,75,0,M,10,3,...,0,0,2019-07-26,01,2019-08-05,00,X06B,X06,3,2010230894
0,1.320,305468,10,2010233003,D6D96CE0A68739FB,70,0,W,14,4,...,0,0,2019-09-10,01,2019-09-24,00,G21B,G21,3,2010233003
0,0.633,297669,10,2010234179,FB8869E03D85B3F5,59,0,M,7,3,...,0,0,2019-09-09,01,2019-09-16,00,H62B,H62,3,2010234179
0,1.901,294867,10,2070263179,A8239CB0553D4656,79,0,W,8,3,...,0,0,2019-01-14,01,2019-01-22,00,F12D,F12,3,2070263179

In [10]:
df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped
0,2010216467,971401A627916522,W,67,16,2,I27D,M7285,M7285,M200,"[D62, L0311]",[D648],[],[],2010216467
1,2010230894,0FD7D457C22B4ECD,M,75,10,3,X06B,S510,S510,M100,[R18],[],[],[],2010230894
2,2010233003,D6D96CE0A68739FB,W,70,14,3,G21B,K432,K432,M200,[D62],[D649],[],[],2010233003
3,2010234179,FB8869E03D85B3F5,M,59,7,3,H62B,K868,K868,M100,[I5014],[I509],[],[],2010234179
4,2070263179,A8239CB0553D4656,W,79,8,3,F12D,I441,I441,M100,[J9580],[],[],[],2070263179

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [11]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_db, how ='inner', on=['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(47, 28)

,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops,case_id_stripped,gender,age_years,...,age_days,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,adrg
0,M7285,M7285,M200,"[D62, L0311]",[D648],[],[],2010216467,W,67,...,0,4,0,0,0,2019-01-18,01,2019-02-03,00,I27
1,S510,S510,M100,[R18],[],[],[],2010230894,M,75,...,0,3,0,0,0,2019-07-26,01,2019-08-05,00,X06
2,K432,K432,M200,[D62],[D649],[],[],2010233003,W,70,...,0,4,0,0,0,2019-09-10,01,2019-09-24,00,G21
3,K868,K868,M100,[I5014],[I509],[],[],2010234179,M,59,...,0,3,0,0,0,2019-09-09,01,2019-09-16,00,H62
4,I441,I441,M100,[J9580],[],[],[],2070263179,W,79,...,0,3,0,0,0,2019-01-14,01,2019-01-22,00,F12

In [12]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_SELECT]
df_revised_case_normalized.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,2010216467,971401A627916522,W,67,16,2,I27D,M7285,M7285,M200,"[D62, L0311]",[D648],[],[]
1,2010230894,0FD7D457C22B4ECD,M,75,10,3,X06B,S510,S510,M100,[R18],[],[],[]
2,2010233003,D6D96CE0A68739FB,W,70,14,3,G21B,K432,K432,M200,[D62],[D649],[],[]
3,2010234179,FB8869E03D85B3F5,M,59,7,3,H62B,K868,K868,M100,[I5014],[I509],[],[]
4,2070263179,A8239CB0553D4656,W,79,8,3,F12D,I441,I441,M100,[J9580],[],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [13]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [14]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 47 out of 48 revised cases from DtoD that can be matched with the bfs database data for KSSG SRRWS 2019

In [15]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/KSSG_SRRWS_2019.csv