# Revised case normalization for KSSG Linth 2019

Note:

- All 15 of 15 cases from the revised data could be matched with the BFS DB data of KSSG Linth 2019.

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
         os.path.join(ROOT_DIR, 'raw_data/Linth_Toggenburg_SRRWS_2019.xlsx'),
         'KSSG Linth',
         '2019',
         ['Änderungen_Spital_Linth_2019'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/Linth_Toggenburg_SRRWS_2019.xlsx', hospital_name_db='KSSG Linth', year='2019', sheets=['Änderungen_Spital_Linth_2019'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-18 12:11:36.301 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 0: discarded ICDs after validation {''}
2022-10-18 12:11:36.302 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-18 12:11:36.302 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-18 12:11:36.303 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 5: discarded ICDs after validation {''}
2022-10-18 12:11:36.304 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-18 12:11:36.304 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 7: discarded ICDs after validation {''}
2022-10-18 12:11:36.305 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-18 12:11:36.306 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 9: discarded ICDs after validation {''}
2022-10-18 12:11:36.307 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-18 12:11:36.307 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-18 12:11:36.311 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.311 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.313 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.313 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.314 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.315 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.316 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.316 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.317 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.318 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.318 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.319 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.320 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.321 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.323 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.323 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.324 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.325 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.325 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.326 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.327 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.328 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.329 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.329 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.330 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.330 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.331 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.332 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.333 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:11:36.337 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 8, primary diagnosis was changed from S701 to M6285
2022-10-18 12:11:36.338 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 9, primary diagnosis was changed from S501 to T7960
2022-10-18 12:11:36.338 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 11, primary diagnosis was changed from T8903 to T814

Read 15 cases for KSSG Linth 2019
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,3108134918,DDB3BDB39DE3F695,M,49,7,3,J64C,A46,A46,M100,[K746],[],[],[]
1,3108136936,1C6A9D7FAA9A7548,W,89,5,2,G46C,K226,K226,M100,[N184],[D6833],[],[]
2,3108141419,69231F9C61534D42,M,69,10,2,G60B,C183,C183,M100,[E43],[],[],[]
3,3150158985,29F13DDB90E1976D,W,70,2,3,G48C,K922,K922,M100,"[D62, D684]",[D500],[],[]
4,3150164388,11721C6EB40D5BB5,M,78,5,2,G46C,K250,K250,M100,[D62],[],[],[]
5,3108135794,5B6393F1E0401199,M,83,6,3,G18B,K565,K565,M200,[J91],[],[],[]
6,3150163534,8F567DBC59007A54,W,77,40,3,X62B,T818,T818,M100,[I5001],[],[],[]
7,3108132452,DA9064B3A6941B98,M,84,9,2,I12C,T846,T846,M200,[E440],[],[890A32],[]
8,3108136823,5FBF55310D4ED16F,W,97,5,3,X60C,M6285,M6285,M200,[F058],[],[],[]
9,3108139676,8BADDE1F77393EE1,W,70,5,3,X06B,T7960,T7960,M200,"[E871, N938]",[],[],[]
10,3150154963,AECBA96D4E837DB1,W,66,9,3,I03B,M161,M161,M200,"[D62, E6692]","[D500, E6691]",[],[]
11,3150163156,FBFE3615D5E88AFF,M,87,15,2,X06C,T814,T814,M200,"[T8902, M7112]",[],[],[]
12,3108132184,00B102213B2138A1,M,72,12,3,L60D,N1783,N1783,M100,[J9600],[],[],[]
13,3108129511,486B44F6E09844DD,M,58,9,3,H63D,I81,I81,M100,"[I982, K766]",[I859],[],[]
14,3108130840,5E420CB29D2534F4,W,72,5,3,E65C,J4402,J4402,M100,[I822],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['3108134918', '3108136936', '3108141419', '3150158985',
       '3150164388', '3108135794', '3150163534', '3108132452',
       '3108136823', '3108139676', '3150154963', '3150163156',
       '3108132184', '3108129511', '3108130840'], dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

### Check if there are duplicated case_ids in the revised cases after stripping the 0 in front, if yes, delete duplicated cases

In [7]:

revised_case_id_stripped_set = set(revised_case_id_stripped)
if len(revised_case_id_stripped) > len(revised_case_id_stripped_set):
    print('There are duplicated case_ids in the revised cases.' )
else:
    print('There are no duplicated case_ids in the revised cases.' )

There are no duplicated case_ids in the revised cases.

In [8]:
# match to the database and retrieve data from database using revised
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(list(revised_case_id_stripped_set))
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,0.562,251228,11,3108134918,DDB3BDB39DE3F695,49,0,M,7,3,0,0,0,2019-05-31,01,2019-06-07,00,J64C,J64,3
0,3.063,251688,11,3150154963,AECBA96D4E837DB1,66,0,W,9,4,0,0,0,2019-03-21,01,2019-04-11,00,I03B,I03,3
0,0.763,249545,11,3150163156,FBFE3615D5E88AFF,87,0,M,15,4,0,0,0,2019-11-12,01,2019-11-27,06,X06C,X06,2
0,0.579,252699,11,3150163534,8F567DBC59007A54,77,0,W,40,3,0,0,0,2019-11-21,01,2019-12-31,00,X62B,X62,3
0,0.975,253110,11,3150158985,29F13DDB90E1976D,70,0,W,2,3,0,0,0,2019-06-18,01,2019-06-20,06,G48C,G48,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,0.562,251228,11,3108134918,DDB3BDB39DE3F695,49,0,M,7,3,...,0,0,2019-05-31,01,2019-06-07,00,J64C,J64,3,3108134918
0,3.063,251688,11,3150154963,AECBA96D4E837DB1,66,0,W,9,4,...,0,0,2019-03-21,01,2019-04-11,00,I03B,I03,3,3150154963
0,0.763,249545,11,3150163156,FBFE3615D5E88AFF,87,0,M,15,4,...,0,0,2019-11-12,01,2019-11-27,06,X06C,X06,2,3150163156
0,0.579,252699,11,3150163534,8F567DBC59007A54,77,0,W,40,3,...,0,0,2019-11-21,01,2019-12-31,00,X62B,X62,3,3150163534
0,0.975,253110,11,3150158985,29F13DDB90E1976D,70,0,W,2,3,...,0,0,2019-06-18,01,2019-06-20,06,G48C,G48,3,3150158985

In [10]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()
print(revised_case_db.shape)

(15, 21)

In [11]:
# create a new column for case_id_stripped with '0' for joining to cases from database

df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()
print(df_revised_case_d2d.shape)

(15, 15)

In [12]:
# delete duplicated cases in the revised cases

df_revised_case_d2d['case_id_stripped'].apply(tuple) # make sure the drop_duplicates works

df_revised_case_d2d.drop_duplicates(subset=['case_id_stripped'], keep='last', inplace=True)
assert len(revised_case_id_stripped) == df_revised_case_d2d.shape[0] # make sure all cases are deleted

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [13]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(15, 28)

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,adrg,pccl,case_id_stripped,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0.562,251228,11,3108134918,DDB3BDB39DE3F695,49,0,M,7,3,...,J64,3,3108134918,A46,A46,M100,[K746],[],[],[]
1,3.063,251688,11,3150154963,AECBA96D4E837DB1,66,0,W,9,4,...,I03,3,3150154963,M161,M161,M200,"[D62, E6692]","[D500, E6691]",[],[]
2,0.763,249545,11,3150163156,FBFE3615D5E88AFF,87,0,M,15,4,...,X06,2,3150163156,T814,T814,M200,"[T8902, M7112]",[],[],[]
3,0.579,252699,11,3150163534,8F567DBC59007A54,77,0,W,40,3,...,X62,3,3150163534,T818,T818,M100,[I5001],[],[],[]
4,0.975,253110,11,3150158985,29F13DDB90E1976D,70,0,W,2,3,...,G48,3,3150158985,K922,K922,M100,"[D62, D684]",[D500],[],[]

In [14]:
# Choose column to export to a csv file
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]
assert len(df_revised_case_normalized.columns) == len(COLS_TO_OUTPUT)
df_revised_case_normalized.head()

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,251228,3108134918,DDB3BDB39DE3F695,M,49,7,3,J64C,A46,A46,M100,[K746],[],[],[]
1,251688,3150154963,AECBA96D4E837DB1,W,66,9,3,I03B,M161,M161,M200,"[D62, E6692]","[D500, E6691]",[],[]
2,249545,3150163156,FBFE3615D5E88AFF,M,87,15,2,X06C,T814,T814,M200,"[T8902, M7112]",[],[],[]
3,252699,3150163534,8F567DBC59007A54,W,77,40,3,X62B,T818,T818,M100,[I5001],[],[],[]
4,253110,3150158985,29F13DDB90E1976D,W,70,2,3,G48C,K922,K922,M100,"[D62, D684]",[D500],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [15]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [16]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 15 out of 15 revised cases from DtoD that can be matched with the bfs database data for KSSG Linth 2019

In [17]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/KSSG_Linth_2019.csv