# Revised case normalization for USZ 2019

Notes:

- 142 of 148 revised DtoD cases were joined with the BFS cases from the DB.

In [1]:
import sys

import pandas as pd
import numpy as np

from loguru import logger

sys.path.insert(0, '/home/jovyan/work')

from src.revised_case_normalization.py.global_configs import *
from src.revised_case_normalization.py.normalize import normalize
from src.service import bfs_cases_db_service as bfs_db
from src.service.bfs_cases_db_service import session, get_hospital_year_cases

In [2]:
file_info = FileInfo(
        os.path.join(ROOT_DIR, 'raw_data/USZ_2018-2019_20200730.xlsx'),
        'USZ',
        '2019',
        ['Gesamtauffällige_USZ_2019'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/USZ_2018-2019_20200730.xlsx', hospital_name_db='USZ', year='2019', sheets=['Gesamtauffällige_USZ_2019'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-19 16:25:24.204 | INFO     | src.revised_case_normalization.py.normalize:normalize:46 - Read 150 cases for USZ 2019
2022-10-19 16:25:24.207 | INFO     | src.revised_case_normalization.py.normalize:normalize:69 - TYPES:
case_id              int64
patient_id          object
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object
2022-10-19 16:25:24.216 | INFO     | src.utils.dataframe_utils:validate_icd_codes:68 - Validated ICD codes in 'added_icds' and stored them into 'added_icds': All rows contain valid codes
2022-10-19 16:25:24.223 | INFO     | src.utils.dataframe_utils:validate_icd_codes:68 - Validated ICD codes in 'removed_icds' and stored them into 'removed_icds': All rows contain valid codes
2022-10-19 16:25:24.230 | INFO     | src.utils.dataframe_utils:validate_chop_codes:106 - Validated CHOP codes in 'added_chops' and stored them into 'added_chops': All rows contain valid codes
2022-10-19 16:25:24.238 | INFO     | src.utils.dataframe_utils:validate_chop_codes:106 - Validated CHOP codes in 'removed_chops' and stored them into 'removed_chops': All rows contain valid codes
2022-10-19 16:25:24.239 | INFO     | src.utils.dataframe_utils:remove_duplicated_chops:32 - Removing duplicated CHOP codes due to different casing ...
2022-10-19 16:25:24.251 | INFO     | src.utils.dataframe_utils:validate_pd_revised_sd:161 - Validated redundant PD info in 'added_icds'/'removed_icds': The following 18 rows were affected:
row 2: primary diagnosis R11 => M8088
row 22: primary diagnosis M340 => I730
row 60: primary diagnosis A418 => A419
row 89: primary diagnosis I5013 => I5001
row 92: primary diagnosis I64 => I633
row 93: primary diagnosis C180 => I7024
row 97: primary diagnosis N390 => A4151
row 99: primary diagnosis S199 => S120
row 100: primary diagnosis C098 => C108
row 105: primary diagnosis N10 => A498
row 108: primary diagnosis R55 => E871
row 122: primary diagnosis N185 => T814
row 135: primary diagnosis C793 => G418
row 137: primary diagnosis J101 => J09
row 138: primary diagnosis S3311 => S3201
row 143: primary diagnosis F4540 => C341
row 145: primary diagnosis I1001 => R522
row 146: primary diagnosis C61 => A410
2022-10-19 16:25:24.254 | INFO     | src.revised_case_normalization.py.normalize:normalize:99 - Removed 2 rows containing duplicates
2022-10-19 16:25:24.254 | SUCCESS  | src.revised_case_normalization.py.normalize:normalize:101 - Completed validation

In [4]:
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,6400282213,3ED8F10117FCF5F5,M,54,13,3,E06A,J4400,J4400,M200,[F058],[],[],[]
1,6400287076,55C5A17F71DADEA0,M,62,5,3,D62C,J068,J068,M800,"[I8028, C770, C787]",[],[],[]
2,6400306817,0150AC67E3196B63,W,74,36,3,G72C,R11,M8088,M100,[R64],[],[],[]
3,6400316927,153929A139272585,W,79,6,3,B68C,G3531,G3531,M100,[R471],[],[],[]
4,6400278895,014A89BB816D9215,W,71,44,3,F75D,T827,T827,M200,[D508],[D648],[],[]

# Match revised DtoD data with the BfS data from the database

In [5]:
cases_in_db = get_hospital_year_cases(file_info.hospital_name_db, file_info.year)[[AIMEDIC_ID] + VALIDATION_COLS]
cases_in_db.head()

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg
0,333717,6400282710,CE3F5F3171144352,W,70,1,2,F49F
1,333718,6400305875,745A45C609A50636,W,49,9,0,U01A
2,333719,6400327822,374EBB9F2B9AEC88,W,58,12,4,I10A
3,333720,6400282711,EC92A0874637FCCD,M,42,1,0,I29C
4,333721,6400336104,80F28F1BA001EE83,W,74,3,0,F49C

In [6]:
num_cases_in_db = cases_in_db.shape[0]
if num_cases_in_db == 0:
    raise ValueError(f"There is no data for the hospital '{file_info.hospital_name_db}' in {file_info.year}")
else:
    logger.info(f"Read {num_cases_in_db} rows from the DB, for the hospital '{file_info.hospital_name_db}' in {file_info.year}")

2022-10-19 16:25:44.414 | INFO     | __main__:<module>:5 - Read 73974 rows from the DB, for the hospital 'USZ' in 2019

In [7]:
# Remove columns with empty 'case_id' in DB data

cases_in_db['case_id'].replace('', np.nan, inplace=True)
num_na_cases_in_db = cases_in_db['case_id'].isna().sum()
cases_in_db.dropna(subset=['case_id'], inplace=True)
logger.info(f"{num_na_cases_in_db} rows with empty 'case_id's were discovered and removed from the DB, for the hospital '{file_info.hospital_name_db}' in {file_info.year}")

2022-10-19 16:25:44.459 | INFO     | __main__:<module>:6 - 2348 rows with empty 'case_id's were discovered and removed from the DB, for the hospital 'USZ' in 2019

In [8]:
# get the case_id from revised_case 
df_revised_case_d2d['case_id_num'] = df_revised_case_d2d[CASE_ID_COL].astype(int)
cases_in_db['case_id_num'] = cases_in_db[CASE_ID_COL].astype(int)

In [9]:
# get case ids in revised case data from DtoD
case_id_d2d = df_revised_case_d2d['case_id_num'].values

In [10]:
# Check for duplicates in the case ids of DtoD

case_id_d2d_set = set(case_id_d2d)
if len(case_id_d2d) > len(case_id_d2d_set):
    logger.info('There are duplicated case_ids in the revised cases.' )
else:
    logger.info('There are no duplicated case_ids in the revised cases.' )

len(case_id_d2d_set)

2022-10-19 16:25:44.490 | INFO     | __main__:<module>:7 - There are no duplicated case_ids in the revised cases.

148

In [11]:
# Search for case_ids in the BFS DB data with the same case_ids as in revised case dataset of DtoD 
# Reason: check whether case ids of the revised data appear more than once in BFS DB data

revised_case_bfs_db = cases_in_db[cases_in_db['case_id_num'].isin(case_id_d2d)]
revised_case_bfs_db.shape[0]

222

In [12]:
# Join revised cases from DtoD with BFS Cases from Database

if revised_case_bfs_db.shape[0] <= len(case_id_d2d):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_num', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_bfs_db, how ='inner', on=['case_id_num', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'], suffixes=None)
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_num', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_d2d_subset.merge(revised_case_bfs_db, how ='inner', on=['case_id_num', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
#revised_case_normalized.head()

(142, 16)

In [13]:
# Join the revised cases of DtoD with the BFS data (alternative solution to cross check results)

#if revised_case_bfs_db.shape[0] <= len(case_id_d2d):
#    revised_case_normalized = pd.merge(df_revised_case_d2d, cases_in_db, suffixes=('_drop', ''), on=['case_id_num', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
#    revised_case_normalized.drop([i for i in revised_case_normalized.columns if '_drop' in i], axis=1, inplace=True)
#    revised_case_normalized.head()
#else:
#    revised_case_normalized = pd.merge(df_revised_case_d2d, cases_in_db, suffixes=('_drop', ''), on=['case_id_num','patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
#    revised_case_normalized.drop([i for i in revised_case_normalized.columns if '_drop' in i], axis=1, inplace=True)
#    revised_case_normalized.head()
#print(revised_case_normalized.shape)
#revised_case_normalized.head()

In [14]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]

In [15]:
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]

In [16]:
num_revised_case_normalized = revised_case_normalized.shape[0]
num_df_revised_case_d2d = df_revised_case_d2d.shape[0] 

if num_revised_case_normalized == 0:
    raise ValueError(f"No cases between the revised cases for the hospital '{file_info.hospital_name_db}' in {file_info.year} were joined.")
else:
    logger.info(f"{num_revised_case_normalized} of {num_df_revised_case_d2d} rows were joined with the cases from the DB, for the hospital '{file_info.hospital_name_db}' in {file_info.year}")

2022-10-19 16:25:44.535 | INFO     | __main__:<module>:7 - 142 of 148 rows were joined with the cases from the DB, for the hospital 'USZ' in 2019

In [17]:
# Export normalized revision data as a csv: 

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

NEW = '_NEW'
    
output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + NEW + '.csv'

df_revised_case_normalized.sort_values('aimedic_id').to_csv(output_path)