# Revised case normalization for Hirslanden St. Anna 2017

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
        os.path.join(ROOT_DIR, 'raw_data/HI_Aarau_Birshof_ST. Anna.xlsx'),
        'Hirslanden St. Anna',
        '2017',
        ['Änderungen_ST. Anna_2017'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI_Aarau_Birshof_ST. Anna.xlsx', hospital_name_db='Hirslanden St. Anna', year='2017', sheets=['Änderungen_ST. Anna_2017'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-18 10:19:23.486 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 9: discarded ICDs after validation {''}
2022-10-18 10:19:23.486 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-18 10:19:23.487 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-18 10:19:23.487 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-18 10:19:23.488 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-18 10:19:23.490 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 33: discarded ICDs after validation {''}

Read 72 cases for Hirslanden St. Anna 2017
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-18 10:19:23.492 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 56: discarded ICDs after validation {''}
2022-10-18 10:19:23.495 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-18 10:19:23.496 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-18 10:19:23.496 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 3: discarded ICDs after validation {''}
2022-10-18 10:19:23.498 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-18 10:19:23.500 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-18 10:19:23.500 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 7: discarded ICDs after validation {''}
2022-10-18 10:19:23.501 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-18 10:19:23.502 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 9: discarded ICDs after validation {''}
2022-10-18 10:19:23.503 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-18 10:19:23.503 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-18 10:19:23.504 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-18 10:19:23.505 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 15: discarded ICDs after validation {''}
2022-10-18 10:19:23.506 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 16: discarded ICDs after validation {''}
2022-10-18 10:19:23.507 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-18 10:19:23.507 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-18 10:19:23.508 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 19: discarded ICDs after validation {''}
2022-10-18 10:19:23.509 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-18 10:19:23.509 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 23: discarded ICDs after validation {''}
2022-10-18 10:19:23.510 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 24: discarded ICDs after validation {''}
2022-10-18 10:19:23.511 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 25: discarded ICDs after validation {''}
2022-10-18 10:19:23.511 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 26: discarded ICDs after validation {''}
2022-10-18 10:19:23.512 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 27: discarded ICDs after validation {''}
2022-10-18 10:19:23.513 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 30: discarded ICDs after validation {''}
2022-10-18 10:19:23.514 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 32: discarded ICDs after validation {''}
2022-10-18 10:19:23.514 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 33: discarded ICDs after validation {''}
2022-10-18 10:19:23.515 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 34: discarded ICDs after validation {''}
2022-10-18 10:19:23.516 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 35: discarded ICDs after validation {''}
2022-10-18 10:19:23.516 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 37: discarded ICDs after validation {''}
2022-10-18 10:19:23.517 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 38: discarded ICDs after validation {''}
2022-10-18 10:19:23.518 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 40: discarded ICDs after validation {''}
2022-10-18 10:19:23.518 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 41: discarded ICDs after validation {''}
2022-10-18 10:19:23.519 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 42: discarded ICDs after validation {''}
2022-10-18 10:19:23.520 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 45: discarded ICDs after validation {''}
2022-10-18 10:19:23.521 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 46: discarded ICDs after validation {''}
2022-10-18 10:19:23.521 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 47: discarded ICDs after validation {''}
2022-10-18 10:19:23.522 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 48: discarded ICDs after validation {''}
2022-10-18 10:19:23.523 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 49: discarded ICDs after validation {''}
2022-10-18 10:19:23.523 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 50: discarded ICDs after validation {''}
2022-10-18 10:19:23.524 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 51: discarded ICDs after validation {''}
2022-10-18 10:19:23.524 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 52: discarded ICDs after validation {''}
2022-10-18 10:19:23.525 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 53: discarded ICDs after validation {''}
2022-10-18 10:19:23.526 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 54: discarded ICDs after validation {''}
2022-10-18 10:19:23.527 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 55: discarded ICDs after validation {''}
2022-10-18 10:19:23.527 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 57: discarded ICDs after validation {''}
2022-10-18 10:19:23.528 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 58: discarded ICDs after validation {''}
2022-10-18 10:19:23.529 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 59: discarded ICDs after validation {''}
2022-10-18 10:19:23.530 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 60: discarded ICDs after validation {''}
2022-10-18 10:19:23.531 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 61: discarded ICDs after validation {''}
2022-10-18 10:19:23.532 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 62: discarded ICDs after validation {''}
2022-10-18 10:19:23.533 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 67: discarded ICDs after validation {''}
2022-10-18 10:19:23.534 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 68: discarded ICDs after validation {''}
2022-10-18 10:19:23.535 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 69: discarded ICDs after validation {''}
2022-10-18 10:19:23.535 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 70: discarded ICDs after validation {''}
2022-10-18 10:19:23.538 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'99b711::20161212'}
2022-10-18 10:19:23.538 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'890a13::20161216'}
2022-10-18 10:19:23.539 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.540 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {'99b713::20161225'}
2022-10-18 10:19:23.540 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'890a32::20170108', '948x40::20170106'}
2022-10-18 10:19:23.541 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.541 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.542 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.543 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.543 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.544 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.545 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.545 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.546 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.547 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.547 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.548 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.548 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.549 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.550 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.550 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 26: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.551 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 28: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.551 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 29: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.552 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 30: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.553 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 31: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.553 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 32: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.554 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 34: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.555 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 35: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.556 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 36: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.556 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 37: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.557 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 38: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.558 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 39: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.558 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 40: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.559 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 41: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.559 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 42: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.560 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 43: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.560 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 44: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.561 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 45: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.562 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 46: discarded duplicated and invalid CHOP entries after validation {'004d::20170909', '004c11::20170909', '004b45:L:20170909', '004b18:L:20170909'}
2022-10-18 10:19:23.562 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 47: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.563 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 48: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.564 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 49: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.566 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 50: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.566 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 51: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.567 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 52: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.568 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 53: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.570 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 54: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.570 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 55: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.571 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 56: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.571 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 57: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.572 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 58: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.573 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 59: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.573 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 60: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.574 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 61: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.575 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 62: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.575 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 63: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.576 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 64: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.576 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 65: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.577 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 66: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.577 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 67: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.578 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 68: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.578 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 69: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.579 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 70: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.580 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 71: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.582 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {'99B711::20161212'}
2022-10-18 10:19:23.583 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {'890A13::20161216'}
2022-10-18 10:19:23.583 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.584 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.585 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {'99B713::20161225'}
2022-10-18 10:19:23.585 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {'890A32::20170108', '948X40::20170106'}
2022-10-18 10:19:23.586 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.587 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.588 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:19:23.588 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {'45'}
2022-10-18 10:19:23.589 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {'457621'}
2022-10-18 10:19:23.590 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {'457621'}

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0009243576,4A3BCA50B474DD04,M,74,29,3,I66B,M310,M310,M950,[D508],[D648],[],[]
1,0009245400,18E7929A20616AF8,M,74,22,3,H63C,K758,K758,M100,"[D508, I653]",[],[],[]
2,0009247208,43053E793FC348BF,W,77,7,3,G18B,N823,N823,M200,[K564],[],[],[]
3,0009248506,463BA4104B2B5C4E,W,83,25,3,I10C,M4806,M4806,M200,[E43],[],[890A32],[]
4,0009248541,FDEDA859DAB42487,M,78,12,3,E40C,J180,J180,M100,"[I652, F019]",[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0009339263,2ABB14A8F64FAB70,M,69,2,2,G67D,K227,K227,M100,[J9600],[],[],[]
68,0009340255,516515D782F30461,M,62,3,3,H62B,K703,K703,M100,[R18],[],[],[]
69,0009344799,E968664B83D26A1F,W,84,8,3,B63B,F03,F03,M100,[J9600],[],[],[]
70,0009359214,EAC9772C144152EB,M,59,5,2,G17Z,C187,C187,M200,[F101],[],[],[]
71,0009367086,D8110AC145688AE0,W,76,3,2,G67C,K224,K224,M100,[E1191],[E1190],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['0009243576', '0009245400', '0009247208', '0009248506',
       '0009248541', '0009250270', '0009254874', '0009267839',
       '0009269647', '0009274700', '0009294778', '0009314355',
       '0009341620', '0009269815', '0009270054', '0009271773',
       '0009274166', '0009277782', '0009280094', '0009280171',
       '0009291423', '0009308720', '0009309273', '0009313375',
       '0009319897', '0009323430', '0009323466', '0009328159',
       '0009328586', '0009331113', '0009333004', '0009336929',
       '0009259068', '0009267617', '0009274159', '0009339893',
       '0009344274', '0009345036', '0009353753', '0009354553',
       '0009357049', '0009287079', '0009287283', '0009291464',
       '0009291492', '0009316548', '0009330587', '0009348916',
       '0009219917', '0009239211', '0009254915', '0009259066',
       '0009259230', '0009268335', '0009277646', '0009281442',
       '0009285356', '0009290925', '0009293717', '0009307089',
       '0009315358', '0009321778', '0009323877', '0009325760',
       '0009332425', '0009332978', '0009336667', '0009339263',
       '0009340255', '0009344799', '0009359214', '0009367086'],
      dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

### Check if there are duplicated case_ids in the revised cases after stripping the 0 in front, if yes, delete duplicated cases

In [7]:

revised_case_id_stripped_set = set(revised_case_id_stripped)
if len(revised_case_id_stripped) > len(revised_case_id_stripped_set):
    print('There are duplicated case_ids in the revised cases.' )
else:
    print('There are no duplicated case_ids in the revised cases.' )

There are no duplicated case_ids in the revised cases.

In [8]:
# match to the database and retrieve data from database using revised
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(list(revised_case_id_stripped_set))
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,3.083,43784,4,0009345036,3CD19FF4D72B57B5,61,0,W,24,4,0,0,0,2017-10-27,01,2017-11-20,00,I22Z,I22,3
0,1.344,35801,4,0009267617,DAE253293644EBBF,85,0,M,2,3,0,0,0,2017-02-28,01,2017-03-02,00,F18B,F18,3
0,2.801,33052,4,0009219917,4957B988BD3A46D4,71,0,W,9,4,0,0,0,2017-02-05,01,2017-02-14,00,I09C,I09,2
0,0.830,34413,4,0009254874,F11E5520C9C040C2,77,0,M,7,3,0,0,0,2017-01-17,01,2017-01-24,00,E77F,E77,3
0,0.714,41549,4,0009323430,A04C6E796C02DCA0,74,0,W,13,3,0,0,0,2017-08-19,01,2017-09-01,00,E65C,E65,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,3.083,43784,4,0009345036,3CD19FF4D72B57B5,61,0,W,24,4,...,0,0,2017-10-27,01,2017-11-20,00,I22Z,I22,3,9345036
0,1.344,35801,4,0009267617,DAE253293644EBBF,85,0,M,2,3,...,0,0,2017-02-28,01,2017-03-02,00,F18B,F18,3,9267617
0,2.801,33052,4,0009219917,4957B988BD3A46D4,71,0,W,9,4,...,0,0,2017-02-05,01,2017-02-14,00,I09C,I09,2,9219917
0,0.830,34413,4,0009254874,F11E5520C9C040C2,77,0,M,7,3,...,0,0,2017-01-17,01,2017-01-24,00,E77F,E77,3,9254874
0,0.714,41549,4,0009323430,A04C6E796C02DCA0,74,0,W,13,3,...,0,0,2017-08-19,01,2017-09-01,00,E65C,E65,3,9323430

In [10]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()
print(revised_case_db.shape)

(72, 21)

In [11]:
# create a new column for case_id_stripped with '0' for joining to cases from database

df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()
print(df_revised_case_d2d.shape)

(72, 15)

In [12]:
# delete duplicated cases in the revised cases

df_revised_case_d2d['case_id_stripped'].apply(tuple) # make sure the drop_duplicates works

df_revised_case_d2d.drop_duplicates(subset=['case_id_stripped'], keep='last', inplace=True)
assert len(revised_case_id_stripped) == df_revised_case_d2d.shape[0] # make sure all cases are deleted

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [13]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(72, 28)

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,adrg,pccl,case_id_stripped,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,3.083,43784,4,0009345036,3CD19FF4D72B57B5,61,0,W,24,4,...,I22,3,9345036,T845,T845,M200,[T8651],[],[],[]
1,1.344,35801,4,0009267617,DAE253293644EBBF,85,0,M,2,3,...,F18,3,9267617,I442,I442,M100,[],[],[378A22],[378B22]
2,2.801,33052,4,0009219917,4957B988BD3A46D4,71,0,W,9,4,...,I09,2,9219917,M4856,M4856,M200,[D62],[],[],[]
3,0.830,34413,4,0009254874,F11E5520C9C040C2,77,0,M,7,3,...,E77,3,9254874,J14,J14,M100,"[M6281, I652, D849]",[],[],[]
4,0.714,41549,4,0009323430,A04C6E796C02DCA0,74,0,W,13,3,...,E65,3,9323430,J4411,J4411,M100,[I652],[],[],[]

In [14]:
# Choose column to export to a csv file
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]
assert len(df_revised_case_normalized.columns) == len(COLS_TO_OUTPUT)
df_revised_case_normalized.head()

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,43784,0009345036,3CD19FF4D72B57B5,W,61,24,3,I22Z,T845,T845,M200,[T8651],[],[],[]
1,35801,0009267617,DAE253293644EBBF,M,85,2,3,F18B,I442,I442,M100,[],[],[378A22],[378B22]
2,33052,0009219917,4957B988BD3A46D4,W,71,9,2,I09C,M4856,M4856,M200,[D62],[],[],[]
3,34413,0009254874,F11E5520C9C040C2,M,77,7,3,E77F,J14,J14,M100,"[M6281, I652, D849]",[],[],[]
4,41549,0009323430,A04C6E796C02DCA0,W,74,13,3,E65C,J4411,J4411,M100,[I652],[],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [15]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [16]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 72 out of 72 revised cases from DtoD that can be matched with the bfs database data for Hirslanden St. Anna 2017

In [17]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_St._Anna_2017.csv