# Revised case normalization for Hirslanden Salem 2018

Note:
- There are no BFS cases for for Hirslanden Salem 2018.
- Therefore, no cases can be matched between the revised cases and the BFS data.

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
         os.path.join(ROOT_DIR, 'raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx'),
         'Hirslanden Beau Site',
         '2018',
         ['Änderungen Beau Site_ 2018'])

print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx', hospital_name_db='Hirslanden Beau Site', year='2018', sheets=['Änderungen Beau Site_ 2018'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-18 12:37:02.646 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 24: discarded ICDs after validation {''}
2022-10-18 12:37:02.647 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 0: discarded ICDs after validation {''}
2022-10-18 12:37:02.648 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-18 12:37:02.648 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}
2022-10-18 12:37:02.649 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 5: discarded ICDs after validation {''}
2022-10-18 12:37:02.650 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}

Read 26 cases for Hirslanden Beau Site 2018
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-18 12:37:02.651 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 9: discarded ICDs after validation {''}
2022-10-18 12:37:02.651 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-18 12:37:02.652 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 12: discarded ICDs after validation {''}
2022-10-18 12:37:02.653 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 13: discarded ICDs after validation {''}
2022-10-18 12:37:02.653 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-18 12:37:02.655 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 15: discarded ICDs after validation {''}
2022-10-18 12:37:02.655 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 16: discarded ICDs after validation {''}
2022-10-18 12:37:02.656 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 17: discarded ICDs after validation {''}
2022-10-18 12:37:02.657 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 18: discarded ICDs after validation {''}
2022-10-18 12:37:02.657 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 19: discarded ICDs after validation {''}
2022-10-18 12:37:02.658 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 20: discarded ICDs after validation {''}
2022-10-18 12:37:02.659 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 21: discarded ICDs after validation {''}
2022-10-18 12:37:02.661 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 22: discarded ICDs after validation {''}
2022-10-18 12:37:02.661 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 25: discarded ICDs after validation {''}
2022-10-18 12:37:02.663 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.664 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.664 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.665 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.666 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.666 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.667 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.667 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.668 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.668 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.669 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.670 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.671 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.671 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.672 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.673 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.673 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.673 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.674 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.674 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.675 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.676 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.678 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.678 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.679 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.679 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.680 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.681 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.681 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.682 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.683 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.683 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.684 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.684 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.685 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.686 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.686 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.687 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.687 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.688 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 17: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.689 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 18: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.689 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 19: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.690 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 20: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.691 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 21: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.692 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 22: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.692 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 23: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.693 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 24: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.694 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 25: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 12:37:02.698 | DEBUG    | src.utils.dataframe_utils:_validate_pd_revised_sd:130 - in row 24, primary diagnosis was changed from I5001 to I5019

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0041635636,0005050208,W,83,5,3,E65C,J4419,J4419,M100,[B965],[],[],[]
1,0041647892,0005087263,W,74,11,3,F03D,I350,I350,M200,[I490],[],[9962],[]
2,0041656218,0022162393,M,77,11,3,F03D,I350,I350,M200,"[J61, D689]",[],[],[]
3,0041660312,0005287267,W,54,30,3,G02C,K5722,K5722,M200,[E43],[E46],[],[]
4,0041670261,0005121840,M,90,6,3,F71B,I480,I480,M100,[N183],[N184],[],[]
5,0041622665,0022168673,M,79,12,3,G17Z,C20,C20,M200,[N133],[],[],[]
6,0041631826,0022164652,M,59,11,3,F06D,I208,I208,M200,"[D62, I490]",[D508],[9962],[]
7,0041632678,0005001742,W,58,5,3,G18B,K316,K316,M200,[E6692],[E6691],[],[]
8,0041642176,0001033482,M,82,10,3,F13C,I7024,I7024,M100,"[I650, I652]",[],[],[]
9,0041670429,0011088007,W,73,4,2,F60B,I214,I214,M100,"[I5001, N183, I452, I361]",[],[],[]
10,0041678445,0022176834,M,73,32,3,G02C,K566,K566,M200,[E440],[E46],[],[]
11,0041796989,0005078697,M,49,22,3,G18B,C187,C187,M200,"[K9183, K650]",[],"[459812, 461212, 5413, 389311]",[]
12,0041718006,0001148792,W,77,17,3,H09B,C252,C252,M200,[E1390],[],[],[]
13,0041727313,0022184206,M,67,11,3,H60C,K704,K704,M100,[I982],[],[],[]
14,0041740292,0022186059,W,86,9,3,G19B,K449,K449,M200,[E43],[],[],[]
15,0041755915,0001065168,W,81,3,2,G46C,K5731,K5731,M100,"[B022, G530]",[],[],[]
16,0041762114,0005047937,W,72,17,3,G48C,K9188,K9188,M200,[E43],[],[],[]
17,0041766569,0005090762,W,71,12,3,F62C,I5001,I5001,M100,[J9619],[],[],[]
18,0041767906,0005256414,M,43,10,3,G18A,K5722,K5722,M200,[K659],[],[],[]
19,0041778442,0022187255,W,71,12,3,F06D,I2513,I2513,M200,[D62],[],[],[]
20,0041781983,0005070312,W,74,6,3,G18B,K914,K914,M200,[E43],[],[],[]
21,0041830088,0022197396,M,63,11,3,G18B,C187,C187,M200,[K566],[],[],[]
22,0041861755,0005180098,W,86,1,2,K60F,E1160,E1160,M100,[G2090],[],[],[]
23,0041863191,0005147943,W,85,3,3,H61B,D376,D376,M200,"[N183, K767, D684]",[N185],[],[]
24,0041869562,0022192074,W,95,9,3,F62C,I5019,I5019,M100,[],[],[],[]
25,0041897876,0011072389,M,63,6,3,G48C,K922,K922,M100,[D62],[],[990410],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['0041635636', '0041647892', '0041656218', '0041660312',
       '0041670261', '0041622665', '0041631826', '0041632678',
       '0041642176', '0041670429', '0041678445', '0041796989',
       '0041718006', '0041727313', '0041740292', '0041755915',
       '0041762114', '0041766569', '0041767906', '0041778442',
       '0041781983', '0041830088', '0041861755', '0041863191',
       '0041869562', '0041897876'], dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

### Check if there are duplicated case_ids in the revised cases after stripping the 0 in front, if yes, delete duplicated cases

In [7]:

revised_case_id_stripped_set = set(revised_case_id_stripped)
if len(revised_case_id_stripped) > len(revised_case_id_stripped_set):
    print('There are duplicated case_ids in the revised cases.' )
else:
    print('There are no duplicated case_ids in the revised cases.' )

There are no duplicated case_ids in the revised cases.

In [8]:
# match to the database and retrieve data from database using revised
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(list(revised_case_id_stripped_set))
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,3.301,125812,6,0041631826,87192FE13E531984,59,0,M,11,4,16,0,0,2018-01-07,01,2018-01-18,00,F06D,F06,3
0,0.701,126329,6,0041670429,2D16DA30D4C65386,73,0,W,4,3,0,0,0,2018-02-03,01,2018-02-07,00,F60B,F60,2
0,2.228,125689,6,0041622665,52E7EFDD3FDA7867,79,0,M,12,4,0,0,0,2018-01-08,01,2018-01-20,00,G17Z,G17,3
0,0.755,130403,6,0041863191,7453F09F963912CB,85,0,W,3,4,0,0,0,2018-09-25,01,2018-09-28,00,H61B,H61,3
0,0.987,131150,6,0041897876,CA4A854E9B999CDD,63,0,M,6,3,0,0,0,2018-11-09,01,2018-11-15,00,G48C,G48,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,3.301,125812,6,0041631826,87192FE13E531984,59,0,M,11,4,...,0,0,2018-01-07,01,2018-01-18,00,F06D,F06,3,41631826
0,0.701,126329,6,0041670429,2D16DA30D4C65386,73,0,W,4,3,...,0,0,2018-02-03,01,2018-02-07,00,F60B,F60,2,41670429
0,2.228,125689,6,0041622665,52E7EFDD3FDA7867,79,0,M,12,4,...,0,0,2018-01-08,01,2018-01-20,00,G17Z,G17,3,41622665
0,0.755,130403,6,0041863191,7453F09F963912CB,85,0,W,3,4,...,0,0,2018-09-25,01,2018-09-28,00,H61B,H61,3,41863191
0,0.987,131150,6,0041897876,CA4A854E9B999CDD,63,0,M,6,3,...,0,0,2018-11-09,01,2018-11-15,00,G48C,G48,3,41897876

In [10]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()
print(revised_case_db.shape)

(26, 21)

In [11]:
# create a new column for case_id_stripped with '0' for joining to cases from database

df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()
print(df_revised_case_d2d.shape)

(26, 15)

In [12]:
# delete duplicated cases in the revised cases

df_revised_case_d2d['case_id_stripped'].apply(tuple) # make sure the drop_duplicates works

df_revised_case_d2d.drop_duplicates(subset=['case_id_stripped'], keep='last', inplace=True)
assert len(revised_case_id_stripped) == df_revised_case_d2d.shape[0] # make sure all cases are deleted

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [13]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(26, 28)

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,adrg,pccl,case_id_stripped,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,3.301,125812,6,0041631826,87192FE13E531984,59,0,M,11,4,...,F06,3,41631826,I208,I208,M200,"[D62, I490]",[D508],[9962],[]
1,0.701,126329,6,0041670429,2D16DA30D4C65386,73,0,W,4,3,...,F60,2,41670429,I214,I214,M100,"[I5001, N183, I452, I361]",[],[],[]
2,2.228,125689,6,0041622665,52E7EFDD3FDA7867,79,0,M,12,4,...,G17,3,41622665,C20,C20,M200,[N133],[],[],[]
3,0.755,130403,6,0041863191,7453F09F963912CB,85,0,W,3,4,...,H61,3,41863191,D376,D376,M200,"[N183, K767, D684]",[N185],[],[]
4,0.987,131150,6,0041897876,CA4A854E9B999CDD,63,0,M,6,3,...,G48,3,41897876,K922,K922,M100,[D62],[],[990410],[]

In [14]:
# Choose column to export to a csv file
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]
assert len(df_revised_case_normalized.columns) == len(COLS_TO_OUTPUT)
df_revised_case_normalized.head()

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,125812,0041631826,87192FE13E531984,M,59,11,3,F06D,I208,I208,M200,"[D62, I490]",[D508],[9962],[]
1,126329,0041670429,2D16DA30D4C65386,W,73,4,2,F60B,I214,I214,M100,"[I5001, N183, I452, I361]",[],[],[]
2,125689,0041622665,52E7EFDD3FDA7867,M,79,12,3,G17Z,C20,C20,M200,[N133],[],[],[]
3,130403,0041863191,7453F09F963912CB,W,85,3,3,H61B,D376,D376,M200,"[N183, K767, D684]",[N185],[],[]
4,131150,0041897876,CA4A854E9B999CDD,M,63,6,3,G48C,K922,K922,M100,[D62],[],[990410],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [15]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [16]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 26 out of 26 revised cases from DtoD that can be matched with the bfs database data for Hirslanden Beau Site 2018

In [17]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_Beau_Site_2018.csv