# Revised case normalization for Hirslanden Aarau 2018

In [1]:
import pandas as pd
import sys
sys.path.insert(0, '/home/jovyan/work')

import os

from py.global_configs import *
from py.normalize import normalize

from src.service import bfs_cases_db_service as bfs_db

from src.utils.dataframe_utils import remove_duplicated_chops

/home/jovyan/work/src/models/BfsCase.py:5: SAWarning: On class 'BfsCase', Column object 'drg_cost_weight' named directly multiple times, only one will be used: drg_cost_weight, effective_cost_weight. Consider using orm.synonym instead
  class BfsCase(Base):

In [2]:

file_info = FileInfo(
        os.path.join(ROOT_DIR, 'raw_data/HI_Aarau_Birshof_ST. Anna.xlsx'),
        'Hirslanden Aarau',
        '2018',
        ['Aarau 2018'])
print(file_info)

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI_Aarau_Birshof_ST. Anna.xlsx', hospital_name_db='Hirslanden Aarau', year='2018', sheets=['Aarau 2018'])

In [3]:
cols_to_rename = dict(COLUMNS_TO_RENAME)
# Replace 'admno' with 'fall nummer'
cols_to_rename.pop('admno')
cols_to_rename['fall nummer'] = CASE_ID_COL

df_revised_case_d2d = normalize(file_info, 0)

2022-10-18 10:34:33.973 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 1: discarded ICDs after validation {''}
2022-10-18 10:34:33.973 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 2: discarded ICDs after validation {''}

Read 17 cases for Hirslanden Aarau 2018
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
old_pd              string
new_pd              string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

2022-10-18 10:34:33.974 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 3: discarded ICDs after validation {''}
2022-10-18 10:34:33.974 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 4: discarded ICDs after validation {''}
2022-10-18 10:34:33.975 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 6: discarded ICDs after validation {''}
2022-10-18 10:34:33.976 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 7: discarded ICDs after validation {''}
2022-10-18 10:34:33.977 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 8: discarded ICDs after validation {''}
2022-10-18 10:34:33.978 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 9: discarded ICDs after validation {''}
2022-10-18 10:34:33.979 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 10: discarded ICDs after validation {''}
2022-10-18 10:34:33.980 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 11: discarded ICDs after validation {''}
2022-10-18 10:34:33.980 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 13: discarded ICDs after validation {''}
2022-10-18 10:34:33.981 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 14: discarded ICDs after validation {''}
2022-10-18 10:34:33.981 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 15: discarded ICDs after validation {''}
2022-10-18 10:34:33.982 | DEBUG    | src.utils.dataframe_utils:_validate_icd_codes:56 - row 16: discarded ICDs after validation {''}
2022-10-18 10:34:33.984 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.985 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.985 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.986 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.987 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.987 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.988 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.989 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.990 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.991 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.991 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.991 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.992 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.992 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.993 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.993 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.995 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 0: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.995 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 1: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.996 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 2: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.997 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 3: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.997 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 4: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.998 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 5: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.998 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 6: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:33.999 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 7: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.000 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 8: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.000 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 9: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.001 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 10: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.002 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 11: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.003 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 12: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.003 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 13: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.004 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 14: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.004 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 15: discarded duplicated and invalid CHOP entries after validation {''}
2022-10-18 10:34:34.005 | DEBUG    | src.utils.dataframe_utils:_validate_chop_codes:94 - row 16: discarded duplicated and invalid CHOP entries after validation {''}

In [4]:
df_revised_case_d2d

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0041623461,0001059029,W,77,2,3,F59E,I7024,I7024,M100,[J4481],[J4483],[],[]
1,0041665678,0002043896,M,82,17,3,F62C,I5001,I5001,M100,[R18],[],[],[]
2,0041698586,0022177655,M,93,2,3,F59E,I7024,I7024,M100,[I743],[],[],[]
3,0041719219,0001339311,M,91,4,3,F71B,I495,I495,M100,[N182],[],[],[]
4,41777951,0022177655,M,93,2,0,F59E,I7024,I7024,M100,"[N184, T828]",[],[],[]
5,0041648887,0001709901,M,64,8,3,F62C,I5014,I5014,M100,[E1191],[E1190],[],[]
6,0041709615,0001749027,W,58,5,3,L63D,N390,N390,M100,[B370],[],[],[]
7,0041772407,0022190089,W,79,9,3,L63D,N390,N390,M100,[E440],[],[890A32],[]
8,0041769953,0022179314,M,70,6,3,L60D,N1781,N1781,M100,[J9610],[],[],[]
9,0041803251,0001720953,M,51,8,3,F06D,I208,I208,M200,[J9580],[],[],[]
10,0041806695,0010094333,M,65,12,3,E05B,D384,D384,M200,"[I483, J9580]",[],[],[]
11,0041817227,0001750180,M,76,9,3,F03D,I350,I350,M200,[J91],[],[],[]
12,0041820204,0001662235,M,84,5,3,L63D,N390,N390,M100,[E1191],[E1190],[],[]
13,0041827376,0022197460,W,78,13,3,I10B,S2206,S2206,M100,[D689],[],[],[]
14,0041855716,0001152852,W,78,1,3,F59F,I7022,I7022,M100,[D686],[],[],[]
15,0041896979,0022154384,W,80,7,3,I09C,M4807,M4807,M200,[D6823],[],[],[]
16,0041912675,0010435827,M,84,18,3,H01B,C250,C250,M200,[F058],[],[],[]

# Match revised DtoD data with the bfs data from the database

In [5]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['0041623461', '0041665678', '0041698586', '0041719219', '41777951',
       '0041648887', '0041709615', '0041772407', '0041769953',
       '0041803251', '0041806695', '0041817227', '0041820204',
       '0041827376', '0041855716', '0041896979', '0041912675'],
      dtype=object)

In [6]:
revised_case_id_stripped = [case_id.lstrip('0') for case_id in revised_case_id]

### Check if there are duplicated case_ids in the revised cases after stripping the 0 in front, if yes, delete duplicated cases

In [7]:

revised_case_id_stripped_set = set(revised_case_id_stripped)
if len(revised_case_id_stripped) > len(revised_case_id_stripped_set):
    print('There are duplicated case_ids in the revised cases.' )
else:
    print('There are no duplicated case_ids in the revised cases.' )

There are no duplicated case_ids in the revised cases.

In [8]:
# match to the database and retrieve data from database using revised
revised_case_db = bfs_db.get_bfs_cases_by_ids_no_pad0(list(revised_case_id_stripped_set))
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,ventilation_hours,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl
0,0.858,116851,5,0041665678,2C4C8942514B875C,82,0,M,17,3,0,0,0,2018-01-30,01,2018-02-16,00,F62C,F62,3
0,1.420,122148,5,0041827376,8F52742790A86095,78,0,W,13,3,0,0,0,2018-08-09,01,2018-08-22,00,I10B,I10,3
0,2.967,124638,5,0041896979,11419AD2D2725278,80,0,W,7,4,0,0,0,2018-12-06,01,2018-12-13,00,I09C,I09,3
0,0.858,116472,5,0041648887,E04F10AADF78511A,64,0,M,8,3,8,0,0,2018-01-17,01,2018-01-25,00,F62C,F62,3
0,1.133,117722,5,0041698586,296ABD4577F82DE5,93,0,M,2,3,0,0,0,2018-03-15,01,2018-03-17,00,F59E,F59,3

In [9]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,admission_weight,gestation_age,admission_date,admission_type,discharge_date,discharge_type,drg,adrg,pccl,case_id_stripped
0,0.858,116851,5,0041665678,2C4C8942514B875C,82,0,M,17,3,...,0,0,2018-01-30,01,2018-02-16,00,F62C,F62,3,41665678
0,1.420,122148,5,0041827376,8F52742790A86095,78,0,W,13,3,...,0,0,2018-08-09,01,2018-08-22,00,I10B,I10,3,41827376
0,2.967,124638,5,0041896979,11419AD2D2725278,80,0,W,7,4,...,0,0,2018-12-06,01,2018-12-13,00,I09C,I09,3,41896979
0,0.858,116472,5,0041648887,E04F10AADF78511A,64,0,M,8,3,...,0,0,2018-01-17,01,2018-01-25,00,F62C,F62,3,41648887
0,1.133,117722,5,0041698586,296ABD4577F82DE5,93,0,M,2,3,...,0,0,2018-03-15,01,2018-03-17,00,F59E,F59,3,41698586

In [10]:
# create a new column for case_id_stripped with '0' for joining to the revised cases
revised_case_db['case_id_stripped']=  revised_case_db['case_id'].apply(lambda x: x.lstrip('0')) 
revised_case_db.head()
print(revised_case_db.shape)

(17, 21)

In [11]:
# create a new column for case_id_stripped with '0' for joining to cases from database

df_revised_case_d2d['case_id_stripped']=  df_revised_case_d2d['case_id'].apply(lambda x: x.lstrip('0')) 
df_revised_case_d2d.head()
print(df_revised_case_d2d.shape)

(17, 15)

In [12]:
# delete duplicated cases in the revised cases

df_revised_case_d2d['case_id_stripped'].apply(tuple) # make sure the drop_duplicates works

df_revised_case_d2d.drop_duplicates(subset=['case_id_stripped'], keep='last', inplace=True)
assert len(revised_case_id_stripped) == df_revised_case_d2d.shape[0] # make sure all cases are deleted

# Forming the normalized dataframe: Merge the selected revised case data with the matched from bfs data
  If there are multiple cases were found based on case_id, patient_id will be used to match once more

In [13]:
# Check if there are multiple cases were found based on case_id, patient_id will be used to match once more
if revised_case_db.shape[0] <= len(revised_case_id):
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_id = revised_case_normalized.shape[0]
else:
    revised_case_d2d_subset = df_revised_case_d2d[COL_SUBSET_FROM_REVISED_CASES + ['case_id_stripped', 'patient_id', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg']]
    revised_case_normalized = revised_case_db.merge(revised_case_d2d_subset, how ='left', on=['case_id_stripped', 'gender', 'age_years', 'duration_of_stay', 'pccl', 'drg'])
    num_match_case_patient_id = revised_case_normalized.shape[0]
print(revised_case_normalized.shape)
revised_case_normalized.head()

(17, 28)

,drg_cost_weight,aimedic_id,hospital_id,case_id,patient_id,age_years,age_days,gender,duration_of_stay,clinic_id,...,adrg,pccl,case_id_stripped,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,0.858,116851,5,0041665678,2C4C8942514B875C,82,0,M,17,3,...,F62,3,41665678,I5001,I5001,M100,[R18],[],[],[]
1,1.420,122148,5,0041827376,8F52742790A86095,78,0,W,13,3,...,I10,3,41827376,S2206,S2206,M100,[D689],[],[],[]
2,2.967,124638,5,0041896979,11419AD2D2725278,80,0,W,7,4,...,I09,3,41896979,M4807,M4807,M200,[D6823],[],[],[]
3,0.858,116472,5,0041648887,E04F10AADF78511A,64,0,M,8,3,...,F62,3,41648887,I5014,I5014,M100,[E1191],[E1190],[],[]
4,1.133,117722,5,0041698586,296ABD4577F82DE5,93,0,M,2,3,...,F59,3,41698586,I7024,I7024,M100,[I743],[],[],[]

In [14]:
# Choose column to export to a csv file
df_revised_case_normalized = revised_case_normalized[COLS_TO_OUTPUT]
assert len(df_revised_case_normalized.columns) == len(COLS_TO_OUTPUT)
df_revised_case_normalized.head()

,aimedic_id,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,old_pd,new_pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,116851,0041665678,2C4C8942514B875C,M,82,17,3,F62C,I5001,I5001,M100,[R18],[],[],[]
1,122148,0041827376,8F52742790A86095,W,78,13,3,I10B,S2206,S2206,M100,[D689],[],[],[]
2,124638,0041896979,11419AD2D2725278,W,80,7,3,I09C,M4807,M4807,M200,[D6823],[],[],[]
3,116472,0041648887,E04F10AADF78511A,M,64,8,3,F62C,I5014,I5014,M100,[E1191],[E1190],[],[]
4,117722,0041698586,296ABD4577F82DE5,M,93,2,3,F59E,I7024,I7024,M100,[I743],[],[],[]

# Export the normalized revised cases with the neccessary columns to a csv file

In [15]:

hospital = file_info.hospital_name_db.replace(' ', '_') # replace spaces with '_' for the file name
hospital_year = f'{hospital}_{file_info.year}'

output_folder = os.path.join(ROOT_DIR, 'normalized_revision_data/')

if not os.path.exists(output_folder):
    os.mkdir(output_folder)

output_path = os.path.join(ROOT_DIR, 'normalized_revision_data/') + hospital_year + '.csv'

df_revised_case_normalized.to_csv(output_path)

# Report

A small summary of:
- how many cases could be matched in the DB, and based on which columns
- how many cases were “correctly” revised, in terms of upcoding (still need to do after the `grouper` is available for python)

In [16]:
if revised_case_db.shape[0] <= len(revised_case_id):
    print(f'Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )
else:
    print(f'Based on the columns "case_id" and "Patient_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are {num_match_case_patient_id} out of {len(revised_case_id)} revised cases from DtoD that can be matched with the bfs database data for {file_info.hospital_name_db} {file_info.year}' )

Based on the columns "case_id", "gender, "age_years", "duration_of_stay", "pccl", "drg", there are 17 out of 17 revised cases from DtoD that can be matched with the bfs database data for Hirslanden Aarau 2018

In [17]:
print('All the normalized revised cases are exported to here: {}'.format(output_path))

All the normalized revised cases are exported to here: /home/jovyan/work/src/revised_case_normalization/normalized_revision_data/Hirslanden_Aarau_2018.csv