# Revised case normalization for Hirslanden Linde 2017

This jupyter notebook is used to normalize the revised case from DtoD.

Before runing the notebook, raw_data folder need to added to the root directory

The raw data folder can be find here: https://aimedic.sharepoint.com/:f:/s/dev/Ejx_A1dg8gtPumFknOWOh0oBi6ofx9hctYiq3c-0gH9vYA?e=UmcgrS

Normalization:

-  Convert the column names to the name used in the Database
-  Delete cases which is empty in the follow columns VALIDATION_COLS: 'case_id', 'patient_id', 'gender', 'age_years', duration_of_stay',  'pccl',  'drg'
- choose neccessary columns COLS_TO_SELECT: case_id, patient_id, gender, age_years, duration_of_stay, pccl, drg, pd, bfs_code, added_icds, removed_icds, added_chops, removed_chops
- still need to do (TODO):    
    -  Check CHOP upper/lowercase
    -  Check whether the PD changed. If it did, new and old PD are stored together with added and removed ICDs, respectively
    -  Pad case IDs with 0s
    -  Write function to validate cases

In [2]:
import pandas as pd
import os
from dataclasses import dataclass, field
import sys
sys.path.insert(0, '/home/jovyan/work')
sys.path.insert(1, '/home/jovyan/work/src')
sys.path.insert(2, '/home/jovyan/work/src/service')

from service import bfs_cases_db_service as bfs_db

from py.global_configs import *
from py.normalize import normalize

In [3]:
# check all the file name

FILES_TO_ANALYZE.keys()

dict_keys(['Hirslanden Salem 2017', 'Hirslanden Beau Site 2017', 'Hirslanden Linde 2017', 'Hirslanden Linde 2018', 'Hirslanden Salem 2018', 'Hirslanden Beau Site 2018'])

In [5]:
file = FILES_TO_ANALYZE['Hirslanden Linde 2017']
file

FileInfo(path='/home/jovyan/work/src/revised_case_normalization/raw_data/HI-Bern_Salem_Beau Site_Linde.xlsx', hospital_name_db='Hirslanden Linde', year='2017', sheets=['Ã„nderungen_LI_2017'])

In [7]:

df_revised_case_d2d = normalize(file, 0)

Read 18 cases for Hirslanden Linde 2017
TYPES:
case_id             string
patient_id          string
gender              string
age_years            int64
duration_of_stay     int64
pccl                 int64
drg                 string
pd                  string
bfs_code            string
added_icds          string
removed_icds        string
added_chops         string
removed_chops       string
dtype: object

In [8]:
df_revised_case_d2d.head()

,case_id,patient_id,gender,age_years,duration_of_stay,pccl,drg,pd,bfs_code,added_icds,removed_icds,added_chops,removed_chops
0,657093,D594EE66C57B286C,W,72,11,3,G08B,K430,M200,M6208,<NA>,<NA>,<NA>
1,669177,8125714B0579B1A0,M,63,8,2,E77G,J181,M100,"R650,J9610",<NA>,<NA>,<NA>
2,670466,6A0E65CA7E381F17,W,76,24,3,G02C,C187,M200,R650,<NA>,<NA>,<NA>
3,674893,E120201DBEFFB939,M,73,6,2,I09E,M4802,M200,T810,<NA>,<NA>,<NA>
4,680781,F5130C1F2D9962C3,M,72,4,3,L18B,N328,M200,G2090,<NA>,<NA>,<NA>

# Match to the database

In [13]:
# get the case_id from revised_case

revised_case_id = df_revised_case_d2d['case_id'].values
revised_case_id

array(['657093', '669177', '670466', '674893', '680781', '681347',
       '663181', '677195', '696484', '664975', '672144', '680512',
       '685780', '686863', '687808', '693112', '697356', '703038'],
      dtype=object)

In [14]:
# match to the database
revised_case_db = bfs_db.get_bfs_cases_by_ids(revised_case_id)
revised_case_db.head()

Empty DataFrame
Columns: [drg_cost_weight, aimedic_id, hospital_id, case_id, patient_id, age_years, age_days, gender, duration_of_stay, clinic_id, ventilation_hours, admission_weight, gestation_age, admission_date, admission_type, discharge_date, discharge_type, drg, adrg, pccl]
Index: []

In [15]:
# 
print('There are {} out of {} revised cases from DtoD that are matched with the database for {} {}'.format(len(revised_case_db), len(revised_case_id), file.hospital_name_db, file.year))

There are 0 out of 18 revised cases from DtoD that are matched with the database for Hirslanden Linde 2017

In [16]:
# if we find the match cases, then we need to check if the case_id, gender, year....are match

In [17]:
revised_case_db_subset = revised_case_db[['aimedic_id', 'case_id', 'gender', 'age_years']]
revised_case_db_subset.head()

Empty DataFrame
Columns: [aimedic_id, case_id, gender, age_years]
Index: []